<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - dsdttphcm</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dsdttphcm.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style2.css" asp-append-version="true" />

       



</head>

<body class="main" topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0">
<font face="Arial" size="2">


        <main role="main" class="pb-3">
            
<center>
    <table class="divMain" width="1000px" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr valign="top">
                <td><a href="/" title="Trang chủ"><img src="~/images/top_01_vn.jpg" border="0" width="130" height="125"></a></td>
                <td><img src="~/images/top_02.jpg" border="0" width="155" height="125"></td>
                <td class="divHeader" width="99%">
                    <table width="100%" height="49" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr valign="top">
                                <td><img src="~/images/top_03_vn.gif" border="0" width="400" height="49"></td>
                                <td align="right" nowrap="">
                                   
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr valign="top">
                                <td><img src="~/images/top_04.jpg" border="0" width="60" height="76"></td>
                                <td width="99%">
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td class="divMenu" align="right" width="99%" height="41">
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding-left:5px"><img src="~/images/icon_project.gif" border="0" width="25" height="25" hspace="5"></td>
                                                                <td nowrap=""><a class="menu" href="./?id=139"><b>ĐẤU THẦU TUYẾN 1</b></a></td>
                                                                <td style="padding-left:5px"><img src="~/images/icon_project.gif" border="0" width="25" height="25" hspace="5"></td>
                                                                <td nowrap=""><a class="menu" href="./?id=64"><b>ĐẤU THẦU TUYẾN 2</b></a></td>
                                                                <td style="padding-left:5px"><img src="~/images/icon_calendar.gif" border="0" width="25" height="25" hspace="5"></td>
                                                                <td nowrap=""><a class="menu" href="./?m=calendar&amp;f=calendar#day_6"><b>LỊCH CÔNG TÁC</b></a></td>
                                                                <td style="padding-left:5px"><img src="~/images/icon_contact.gif" border="0" width="25" height="25" hspace="5"></td>
                                                                <td nowrap=""><a class="menu" href="./?m=contact&amp;f=contact"><b>LIÊN HỆ</b></a></td>
                                                                <td><img src="~/images/spacer.gif" border="0" width="15" height="1"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="divLogin" align="right" height="35">
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                                        <form name="frmLoginFast" action="./?m=main&amp;f=login" method="post"></form>
                                                                        <input type="hidden" name="act" value="send">
                                                                        <input type="hidden" name="m" value="main">
                                                                        <input type="hidden" name="f" value="login">
                                                                        <input type="hidden" name="redirect" value="%2F">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="right" nowrap="">Đăng nhập</td>
                                                                                <td><img src="~/images/spacer.gif" border="0" width="5" height="1"></td>
                                                                                <td><img src="~/images/form_01.gif" border="0" width="5" height="25"></td>
                                                                                <td style="background: url('~/images/form_02.gif') repeat-x"><input class="textsearch" type="text" name="username" value="" style="width:100px"></td>
                                                                                <td><img src="~/images/form_03.gif" border="0" width="5" height="25"></td>
                                                                                <td><img src="~/images/spacer.gif" border="0" width="5" height="1"></td>
                                                                                <td><img src="~/images/form_01.gif" border="0" width="5" height="25"></td>
                                                                                <td style="background: url('~/images/form_02.gif') repeat-x"><input class="textsearch" type="password" name="password" value="" style="width:100px"></td>
                                                                                <td><img src="~/images/form_03.gif" border="0" width="5" height="25"></td>
                                                                                <td><img src="~/images/spacer.gif" border="0" width="5" height="1"></td>
                                                                                <td><input style="margin-top: 4px" type="image" img="" src="~/images/form_04.gif" border="0" width="25" height="25"></td>
                                                                            </tr>

                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                                <td><img src="~/images/spacer.gif" border="0" width="20" height="1"></td>
                                                                <td>
                                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                                        <form name="frmSearch" action="./?m=post&amp;f=post" method="get"></form>
                                                                        <input type="hidden" name="m" value="post">
                                                                        <input type="hidden" name="f" value="post">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td><img src="~/images/form_01.gif" border="0" width="5" height="25"></td>
                                                                                <td style="background: url('~/images/form_02.gif') repeat-x"><input class="textsearch" type="text" name="k" value="Tìm kiếm" style="width:155px" onfocus="javascript:FocusSearch(this);" onblur="javascript:BlurSearch(this);"></td>
                                                                                <td><input style="margin-top: 4px" type="image" img="" src="~/images/form_05.gif" border="0" width="25" height="25"></td>
                                                                            </tr>

                                                                        </tbody>
                                                                    </table>
                                                                    <script language="javascript">
                                                                        function FocusSearch(frm) {
                                                                            if (frm.value == 'Tìm kiếm') {
                                                                                frm.value = "";
                                                                            }
                                                                        }
                                                                        function BlurSearch(frm) {
                                                                            if (frm.value == '') {
                                                                                frm.value = 'Tìm kiếm';
                                                                            }
                                                                        }
                                                                    </script>
                                                                </td>
                                                                <td><img src="~/images/spacer.gif" border="0" width="15" height="1"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="divMain" width="1000" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr valign="top">
                <td width="15"><img src="~/images/top_05.gif" border="0" width="15" height="25"></td>
                <td>

                    <div style="margin-bottom:5px"><img src="~/images/top_06.gif" border="0" width="185" height="25"></div>

                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td class="groupbar" >
                                                <a href="/" style="color: #fff">TRANG CHỦ</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="divSub_" style="">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        </table>
                    </div>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td class="groupbar" onmouseover="this.className='groupover'" onmouseout="this.className='groupbar'" onclick="javascript:SlideDiv('divSub_1')">
                                    GIỚI THIỆU
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="divSub_1" style="">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td class="subbar"  >
                                        Tổng quan
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar"  >
                                        Cơ cấu tổ chức
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar"  >
                                        Văn phòng
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar"  >
                                        P. Tổ chức-Đào tạo
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar"  >
                                        Phòng Tài chính - Kế Toán
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar"  >
                                        P. Kế hoạch - Đầu tư
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar"  >
                                        Ban QLDA CBĐT
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar"  >
                                        Ban chấp hành Công đoàn
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar"  >
                                        Đảng bộ Ban QLĐSĐT
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar"  >
                                        Hội cựu chiến binh
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar"  >
                                        Đoàn TNCS Hồ Chí Minh
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar"  >
                                        Phổ biến các Văn bản Pháp Luật
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" >
                                        Qui định của Ban QLĐS Đô thị
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" >
                                        HƯỚNG ĐẾN ĐẠI HỘI ĐẢNG BỘ NHIỆM KỲ II 2015 - 2020
                                    </td>
                                </tr>
                                <tr>
                                                <td class="subbar">
                                                    <a href="/details/page1">
                                        HỌC TẬP VÀ LÀM THEO TẤM GƯƠNG ĐẠO ĐỨC HỒ CHÍ MINH 2015
                                                    </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar"  >
                                        Tuyển Dụng
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar"  >
                                        Hộp thư Thanh Tra Nhân Dân
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" >
                                        Tin tức - Sự kiện
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar"  >
                                        Tài liệu
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td class="groupbar" >
                                    TUYẾN SỐ 1
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="divSub_7" style="">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td class="subbar">
                                        Giới thiệu
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" >
                                        Văn bản dự án
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" >
                                        Ban QLDA1
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" >
                                        Đấu thầu tuyến 1
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" >
                                        Tin tức - Sự kiện
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td class="groupbar" >
                                    TUYẾN SỐ 2
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="divSub_8" style="">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td class="subbar" >
                                        Giới thiệu
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar"  >
                                        Văn bản dự án
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" >
                                        Ban QLDA2
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" >
                                        Đấu thầu tuyến 2
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" >
                                        Giải phóng mặt bằng
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" >
                                        Depot Tham Lương
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar"  >
                                        Kỹ thuật dự án
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar">
                                        Tin tức và Sự kiện
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td class="groupbar">
                                    TUYẾN SỐ 3
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="divSub_59" style="">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td class="subbar"  >
                                        Giới thiệu tuyến 3A
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" >
                                        Giới thiệu tuyến 3B
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td class="groupbar">
                                    TUYẾN SỐ 4
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="divSub_60" style="">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td class="subbar"  >
                                        Giới thiệu tuyến số 4
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td class="groupbar" >
                                    TUYẾN SỐ 5
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="divSub_9" style="">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td class="subbar" >
                                        Tin tức - Sự kiện
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" >
                                        Ban QLDA 5
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" >
                                        Giới thiệu tuyến số 5
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td class="groupbar">
                                    TUYẾN SỐ 6
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="divSub_61" style="">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td class="subbar" >
                                        Giới thiệu tuyến số 6
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td class="groupbar">
                                    TUYẾN XE ĐIỆN &amp; MONORAIL
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="divSub_91" style="">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td class="subbar" >
                                        Tuyến xe điện số 1
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" >
                                        Tuyến Monorail số 2
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" >
                                        Tuyến Monorail số 3
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>



                    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin-top:5px">
                        <tbody>
                            <tr>
                                <td class="groupbar">LIÊN KẾT WEB</td>
                            </tr>
                            <tr>
                                <form name="frmWeblink" action="" method="get"></form>
                                <td class="cntbar">
                                    <select class="textbox" name="slcWeb" style="width:165px" onchange="javascript:OpenSelect(this)">
                                        <option value=""></option>
                                        <option value="http://www.hochiminhcity.gov.vn">Ủy ban Nhân dân TPHCM</option>
                                        <option value="http://www.sgtvt.hochiminhcity.gov.vn">Sở Giao thông Vận tải TPHCM</option>
                                        <option value="http://donre.hochiminhcity.gov.vn">Sở Tài nguyên - Môi trường TPHCM</option>
                                        <option value="http://constructiondpt.hochiminhcity.gov.vn">Sở Xây dựng TPHCM</option>
                                        <option value="http://tcvg.hochiminhcity.gov.vn">Sở Tài chính TPHCM</option>
                                        <option value="http://dpi.hochiminhcity.gov.vn">Sở Kế hoạch - Đầu tư TPHCM</option>
                                        <option value="http://qhkt.hochiminhcity.gov.vn">Sở Quy hoạch - Kiến trúc TPHCM</option>
                                        <option value="http://www.ict-hcm.gov.vn">Sở Thông tin và Truyền Thông TPHCM</option>
                                    </select>
                                </td>

                                <script language="javascript">
                                    function OpenSelect(slc) {
                                        var url = slc.options[slc.selectedIndex].value;
                                        if (url != "") window.open(url);
                                    }
                                </script>
                            </tr>
                        </tbody>
                    </table>

                </td>
                <td><img src="~/images/top_07.gif" border="0" width="20" height="25"></td>
                <td width="99%">
                    <table class="divTrace" width="100%" border="0" cellpadding="0" cellspacing="0" style="margin-bottom:5px">
                        <tbody>
                            <tr>
                                <td><img src="~/images/top_08.gif" border="0" width="40" height="25"></td>
                                <td width="99%" align="right"></td>
                                <td align="right" nowrap="" style="padding-left:10px"><a href="javascript:PrintContent('divContent')"><img class="pointer" src="~/images/print.gif" border="0" width="16" height="16" align="absmiddle"> In trang</a></td>
                            </tr>
                        </tbody>
                    </table>

                    <div id="divContent">

                        
                        <!--Body content-->
                                    @RenderBody()


                    </div>
                </td>
                <td>
                    <div class="divTrace"><img src="~/images/top_09.gif" border="0" width="20" height="30"></div>
                </td>
                <td>
                    <div class="divTrace" style="margin-bottom:5px"><a href="#" target="_blank"><img src="~/images/top_10.gif" border="0" width="185" height="55"></a></div>

                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td class="groupbar">TIN NỔI BẬT</td>
                            </tr>
                            <tr>
                                <td class="cntbar">
                                                <a href="/details/Thong_bao_moi_thau"><b>PHIẾU ĐĂNG KÝ THÔNG BÁO MỜI THẦU LẬP DỰ ÁN ĐẦU TƯ XÂY DỰNG TUYẾN MONORAIL SỐ 2</b></a>
                                    <p align="right">
                                                    <a class="morelink" href="/details/Thong_bao_moi_thau">Xem tiếp »</a>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td class="cntbar">
                                                <a href="/details/Pho_thu_tuong_hoang_trung_hai"><b>PHÓ THỦ TƯỚNG HOÀNG TRUNG HẢI KIỂM TRA TÌNH HÌNH THỰC HIỆN DỰ ÁN TUYẾN ĐƯỜNG SẮT ĐÔ THỊ SỐ 1 BẾN THÀNH - SUỐI TIÊN</b></a>
                                    <p align="right">
                                                    <a class="morelink" href="/details/Pho_thu_tuong_hoang_trung_hai">Xem tiếp »</a>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td class="cntbar">
                                    <a href="#"><b>BAN QUẢN LÝ ĐƯỜNG SẮT ĐÔ THỊ THÀNH PHỐ HỒ CHÍ MINH HỌP BÁO PHIÊN THỨ III NĂM 2015</b></a>
                                    <p align="right">
                                        <a class="morelink" href="#">Xem tiếp »</a>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td class="cntbar">
                                    <a href="#"><b>CUỘC THI SÁNG TÁC BIỂU TRƯNG (LOGO) CHO HỆ THỐNG ĐƯỜNG SẮT ĐÔ THỊ THÀNH PHỐ HỒ CHÍ MINH</b></a>
                                    <p align="right">
                                        <a class="morelink" href="#">Xem tiếp »</a>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td class="cntbar">
                                    <a href="#"><b>THÔNG BÁO GIA HẠN THỜI GIAN BÁN HỒ SƠ CHÀO HÀNG DỊCH VỤ QUẢNG CÁO</b></a>
                                    <p align="right">
                                        <a class="morelink" href="#">Xem tiếp »</a>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td class="cntbar">
                                                <a href="/details/QLDSDT_hop_bao_nam_2015"><b>BAN QUẢN LÝ ĐƯỜNG SẮT ĐÔ THỊ HỌP BÁO PHIÊN  THỨ HAI NĂM 2015</b></a>
                                    <p align="right">
                                                    <a class="morelink" href="/details/QLDSDT_hop_bao_nam_2015">Xem tiếp »</a>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td class="cntbar">
                                    <a href="#"><b>THÔNG TIN PHỤC VỤ GÓP Ý TOA TÀU MẪU CỦA TUYẾN METRO SỐ 1 BẾN THÀNH - SUỐI TIÊN</b></a>
                                    <p align="right">
                                        <a class="morelink" href="#">Xem tiếp »</a>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                </td>
                <td>
                    <div class="divTrace"><img src="~/images/spacer.gif" border="0" width="15" height="55"></div>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="divMain" width="1000" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr><td colspan="2" height="50"></td></tr>
            <tr>
                <td nowrap="" style="padding-left:15px">
                    <a class="botlink" href="./?m=main&amp;f=home">Trang chủ</a>
                    &nbsp;|&nbsp;
                    <a class="botlink" href="./?id=164">Hướng dẫn sử dụng</a>
                    &nbsp;|&nbsp;
                    <a class="botlink" href="./?m=main&amp;f=sitemap">Sitemap</a>
                    &nbsp;|&nbsp;
                    <a class="botlink" href="./?m=calendar&amp;f=calendar">Lịch Công tác</a>
                    &nbsp;|&nbsp;
                    <a class="botlink" href="./?m=contact&amp;f=contact">Liên hệ</a>
                </td>
                <td nowrap="" align="right" style="padding-right:15px"><img src="~/images/bottom_01.gif" border="0" width="240" height="25"></td>
            </tr>
            <tr>
                <td class="divHeader" colspan="2" height="5"></td>
            </tr>
            <tr>
                <td nowrap="" class="divFoot" style="padding-left:15px">
                    <b class="black">BAN QUẢN LÝ ĐƯỜNG SẮT ĐÔ THỊ</b>
                    <br>Địa chỉ: 29 Lê Quý Đôn, phường 7 quận 3, Tp.Hồ Chí Minh
                    <br>Telephone: (08)3930.9495 - (08)3930.9496 - Fax: (08)3930.9497 - (08)3930.9498
                    - Email: <a href="#">bqldsdt@tphcm.gov.vn </a>
                </td>
                <td align="right" nowrap="" class="divFoot" style="padding-right:15px">Quyết định số 105/QĐ-STTTT, ngày 19/6/2014 do Sở TT-TT TPHCM cấp<br>Ghi rõ nguồn "www.maur-hcmc.vn"; "www.dsdttphcm.vn" khi bạn phát hành lại thông tin từ website này<br>Copyright © 2010 MAUR. All rights reserved.</td>
            </tr>
            <tr height="30px">
                <td class="copyright" style="padding-left:15px">Designed and Developed by <a href="#" target="_blank">KIM NGUU CO.,Ltd</a></td>
                <td class="copyright" align="right" style="padding-right:15px">Hiện có <b>2</b> người online. Lượt truy cập: <b>3048584</b></td>
            </tr>
        </tbody>
    </table>
</center>


        </main>




</font></body>


</html>
