@{
    ViewData["Title"] = "Đường sắt đô thị TPHCM";
}


<center>
    <table class="divMain" width="1000px" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr valign="top">
                <td><a href="./" title="Trang chủ"><img src="~/images/top_01_vn.jpg" border="0" width="130" height="125"></a></td>
                <td><img src="~/images/top_02.jpg" border="0" width="155" height="125"></td>
                <td class="divHeader" width="99%">
                    <table width="100%" height="49" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr valign="top">
                                <td><img src="~/images/top_03_vn.gif" border="0" width="400" height="49"></td>
                                <td align="right" nowrap="">
                                   
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr valign="top">
                                <td><img src="~/images/top_04.jpg" border="0" width="60" height="76"></td>
                                <td width="99%">
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td class="divMenu" align="right" width="99%" height="41">
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding-left:5px"><img src="~/images/icon_project.gif" border="0" width="25" height="25" hspace="5"></td>
                                                                <td nowrap=""><a class="menu" href="./?id=139"><b>ĐẤU THẦU TUYẾN 1</b></a></td>
                                                                <td style="padding-left:5px"><img src="~/images/icon_project.gif" border="0" width="25" height="25" hspace="5"></td>
                                                                <td nowrap=""><a class="menu" href="./?id=64"><b>ĐẤU THẦU TUYẾN 2</b></a></td>
                                                                <td style="padding-left:5px"><img src="~/images/icon_calendar.gif" border="0" width="25" height="25" hspace="5"></td>
                                                                <td nowrap=""><a class="menu" href="./?m=calendar&amp;f=calendar#day_6"><b>LỊCH CÔNG TÁC</b></a></td>
                                                                <td style="padding-left:5px"><img src="~/images/icon_contact.gif" border="0" width="25" height="25" hspace="5"></td>
                                                                <td nowrap=""><a class="menu" href="./?m=contact&amp;f=contact"><b>LIÊN HỆ</b></a></td>
                                                                <td><img src="~/images/spacer.gif" border="0" width="15" height="1"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="divLogin" align="right" height="35">
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                                        <form name="frmLoginFast" action="./?m=main&amp;f=login" method="post"></form>
                                                                        <input type="hidden" name="act" value="send">
                                                                        <input type="hidden" name="m" value="main">
                                                                        <input type="hidden" name="f" value="login">
                                                                        <input type="hidden" name="redirect" value="%2F">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="right" nowrap="">Đăng nhập</td>
                                                                                <td><img src="~/images/spacer.gif" border="0" width="5" height="1"></td>
                                                                                <td><img src="~/images/form_01.gif" border="0" width="5" height="25"></td>
                                                                                <td style="background: url('~/images/form_02.gif') repeat-x"><input class="textsearch" type="text" name="username" value="" style="width:100px"></td>
                                                                                <td><img src="~/images/form_03.gif" border="0" width="5" height="25"></td>
                                                                                <td><img src="~/images/spacer.gif" border="0" width="5" height="1"></td>
                                                                                <td><img src="~/images/form_01.gif" border="0" width="5" height="25"></td>
                                                                                <td style="background: url('~/images/form_02.gif') repeat-x"><input class="textsearch" type="password" name="password" value="" style="width:100px"></td>
                                                                                <td><img src="~/images/form_03.gif" border="0" width="5" height="25"></td>
                                                                                <td><img src="~/images/spacer.gif" border="0" width="5" height="1"></td>
                                                                                <td><input style="margin-top: 4px" type="image" img="" src="~/images/form_04.gif" border="0" width="25" height="25"></td>
                                                                            </tr>

                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                                <td><img src="~/images/spacer.gif" border="0" width="20" height="1"></td>
                                                                <td>
                                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                                        <form name="frmSearch" action="./?m=post&amp;f=post" method="get"></form>
                                                                        <input type="hidden" name="m" value="post">
                                                                        <input type="hidden" name="f" value="post">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td><img src="~/images/form_01.gif" border="0" width="5" height="25"></td>
                                                                                <td style="background: url('~/images/form_02.gif') repeat-x"><input class="textsearch" type="text" name="k" value="Tìm kiếm" style="width:155px" onfocus="javascript:FocusSearch(this);" onblur="javascript:BlurSearch(this);"></td>
                                                                                <td><input style="margin-top: 4px" type="image" img="" src="~/images/form_05.gif" border="0" width="25" height="25"></td>
                                                                            </tr>

                                                                        </tbody>
                                                                    </table>
                                                                    <script language="javascript">
                                                                        function FocusSearch(frm) {
                                                                            if (frm.value == 'Tìm kiếm') {
                                                                                frm.value = "";
                                                                            }
                                                                        }
                                                                        function BlurSearch(frm) {
                                                                            if (frm.value == '') {
                                                                                frm.value = 'Tìm kiếm';
                                                                            }
                                                                        }
                                                                    </script>
                                                                </td>
                                                                <td><img src="~/images/spacer.gif" border="0" width="15" height="1"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="divMain" width="1000" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr valign="top">
                <td width="15"><img src="~/images/top_05.gif" border="0" width="15" height="25"></td>
                <td>

                    <div style="margin-bottom:5px"><img src="~/images/top_06.gif" border="0" width="185" height="25"></div>

                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td class="groupbar" onmouseover="this.className='groupover'" onmouseout="this.className='groupbar'" onclick="javascript:window.location.href='./?m=main&amp;f=home'">
                                    TRANG CHỦ
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="divSub_" style="">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        </table>
                    </div>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td class="groupbar" onmouseover="this.className='groupover'" onmouseout="this.className='groupbar'" onclick="javascript:SlideDiv('divSub_1')">
                                    GIỚI THIỆU
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="divSub_1" style="">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td class="subbar" onmouseover="this.className='subover'" onmouseout="this.className='subbar'" onclick="window.location.href='./?id=12'">
                                        Tổng quan
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" onmouseover="this.className='subover'" onmouseout="this.className='subbar'" onclick="window.location.href='./?id=35'">
                                        Cơ cấu tổ chức
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" onmouseover="this.className='subover'" onmouseout="this.className='subbar'" onclick="window.location.href='./?id=141'">
                                        Văn phòng
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" onmouseover="this.className='subover'" onmouseout="this.className='subbar'" onclick="window.location.href='./?id=142'">
                                        P. Tổ chức-Đào tạo
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" onmouseover="this.className='subover'" onmouseout="this.className='subbar'" onclick="window.location.href='./?id=143'">
                                        Phòng Tài chính - Kế Toán
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" onmouseover="this.className='subover'" onmouseout="this.className='subbar'" onclick="window.location.href='./?id=144'">
                                        P. Kế hoạch - Đầu tư
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" onmouseover="this.className='subover'" onmouseout="this.className='subbar'" onclick="window.location.href='./?id=146'">
                                        Ban QLDA CBĐT
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" onmouseover="this.className='subover'" onmouseout="this.className='subbar'" onclick="window.location.href='./?id=44'">
                                        Ban chấp hành Công đoàn
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" onmouseover="this.className='subover'" onmouseout="this.className='subbar'" onclick="window.location.href='./?id=38'">
                                        Đảng bộ Ban QLĐSĐT
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" onmouseover="this.className='subover'" onmouseout="this.className='subbar'" onclick="window.location.href='./?id=53'">
                                        Hội cựu chiến binh
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" onmouseover="this.className='subover'" onmouseout="this.className='subbar'" onclick="window.location.href='./?id=45'">
                                        Đoàn TNCS Hồ Chí Minh
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" onmouseover="this.className='subover'" onmouseout="this.className='subbar'" onclick="window.location.href='./?id=218'">
                                        Phổ biến các Văn bản Pháp Luật
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" onmouseover="this.className='subover'" onmouseout="this.className='subbar'" onclick="window.location.href='./?id=185'">
                                        Qui định của Ban QLĐS Đô thị
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" onmouseover="this.className='subover'" onmouseout="this.className='subbar'" onclick="window.location.href='./?id=454'">
                                        HƯỚNG ĐẾN ĐẠI HỘI ĐẢNG BỘ NHIỆM KỲ II 2015 - 2020
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" onmouseover="this.className='subover'" onmouseout="this.className='subbar'" onclick="window.location.href='./?id=359'">
                                        HỌC TẬP VÀ LÀM THEO TẤM GƯƠNG ĐẠO ĐỨC HỒ CHÍ MINH 2015
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" onmouseover="this.className='subover'" onmouseout="this.className='subbar'" onclick="window.location.href='./?id=291'">
                                        Tuyển Dụng
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" onmouseover="this.className='subover'" onmouseout="this.className='subbar'" onclick="window.location.href='./?id=290'">
                                        Hộp thư Thanh Tra Nhân Dân
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" onmouseover="this.className='subover'" onmouseout="this.className='subbar'" onclick="window.location.href='./?id=46'">
                                        Tin tức - Sự kiện
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" onmouseover="this.className='subover'" onmouseout="this.className='subbar'" onclick="window.location.href='./?id=441'">
                                        Tài liệu
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td class="groupbar" onmouseover="this.className='groupover'" onmouseout="this.className='groupbar'" onclick="javascript:SlideDiv('divSub_7')">
                                    TUYẾN SỐ 1
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="divSub_7" style="">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td class="subbar" onmouseover="this.className='subover'" onmouseout="this.className='subbar'" onclick="window.location.href='./?id=13'">
                                        Giới thiệu
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" onmouseover="this.className='subover'" onmouseout="this.className='subbar'" onclick="window.location.href='./?id=51'">
                                        Văn bản dự án
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" onmouseover="this.className='subover'" onmouseout="this.className='subbar'" onclick="window.location.href='./?id=147'">
                                        Ban QLDA1
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" onmouseover="this.className='subover'" onmouseout="this.className='subbar'" onclick="window.location.href='./?id=139'">
                                        Đấu thầu tuyến 1
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" onmouseover="this.className='subover'" onmouseout="this.className='subbar'" onclick="window.location.href='./?id=464'">
                                        Tin tức - Sự kiện
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td class="groupbar" onmouseover="this.className='groupover'" onmouseout="this.className='groupbar'" onclick="javascript:SlideDiv('divSub_8')">
                                    TUYẾN SỐ 2
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="divSub_8" style="">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td class="subbar" onmouseover="this.className='subover'" onmouseout="this.className='subbar'" onclick="window.location.href='./?id=54'">
                                        Giới thiệu
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" onmouseover="this.className='subover'" onmouseout="this.className='subbar'" onclick="window.location.href='./?id=52'">
                                        Văn bản dự án
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" onmouseover="this.className='subover'" onmouseout="this.className='subbar'" onclick="window.location.href='./?id=70'">
                                        Ban QLDA2
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" onmouseover="this.className='subover'" onmouseout="this.className='subbar'" onclick="window.location.href='./?id=64'">
                                        Đấu thầu tuyến 2
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" onmouseover="this.className='subover'" onmouseout="this.className='subbar'" onclick="window.location.href='./?id=62'">
                                        Giải phóng mặt bằng
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" onmouseover="this.className='subover'" onmouseout="this.className='subbar'" onclick="window.location.href='./?id=80'">
                                        Depot Tham Lương
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" onmouseover="this.className='subover'" onmouseout="this.className='subbar'" onclick="window.location.href='./?id=63'">
                                        Kỹ thuật dự án
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" onmouseover="this.className='subover'" onmouseout="this.className='subbar'" onclick="window.location.href='./?id=263'">
                                        Tin tức và Sự kiện
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td class="groupbar" onmouseover="this.className='groupover'" onmouseout="this.className='groupbar'" onclick="javascript:SlideDiv('divSub_59')">
                                    TUYẾN SỐ 3
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="divSub_59" style="">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td class="subbar" onmouseover="this.className='subover'" onmouseout="this.className='subbar'" onclick="window.location.href='./?id=86'">
                                        Giới thiệu tuyến 3A
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" onmouseover="this.className='subover'" onmouseout="this.className='subbar'" onclick="window.location.href='./?id=87'">
                                        Giới thiệu tuyến 3B
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td class="groupbar" onmouseover="this.className='groupover'" onmouseout="this.className='groupbar'" onclick="javascript:window.location.href='./?id=60'">
                                    TUYẾN SỐ 4
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="divSub_60" style="">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td class="subbar" onmouseover="this.className='subover'" onmouseout="this.className='subbar'" onclick="window.location.href='./?id=88'">
                                        Giới thiệu tuyến số 4
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td class="groupbar" onmouseover="this.className='groupover'" onmouseout="this.className='groupbar'" onclick="javascript:SlideDiv('divSub_9')">
                                    TUYẾN SỐ 5
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="divSub_9" style="">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td class="subbar" onmouseover="this.className='subover'" onmouseout="this.className='subbar'" onclick="window.location.href='./?id=479'">
                                        Tin tức - Sự kiện
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" onmouseover="this.className='subover'" onmouseout="this.className='subbar'" onclick="window.location.href='./?id=179'">
                                        Ban QLDA 5
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" onmouseover="this.className='subover'" onmouseout="this.className='subbar'" onclick="window.location.href='./?id=89'">
                                        Giới thiệu tuyến số 5
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td class="groupbar" onmouseover="this.className='groupover'" onmouseout="this.className='groupbar'" onclick="javascript:window.location.href='./?id=61'">
                                    TUYẾN SỐ 6
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="divSub_61" style="">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td class="subbar" onmouseover="this.className='subover'" onmouseout="this.className='subbar'" onclick="window.location.href='./?id=90'">
                                        Giới thiệu tuyến số 6
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td class="groupbar" onmouseover="this.className='groupover'" onmouseout="this.className='groupbar'" onclick="javascript:SlideDiv('divSub_91')">
                                    TUYẾN XE ĐIỆN &amp; MONORAIL
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="divSub_91" style="">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td class="subbar" onmouseover="this.className='subover'" onmouseout="this.className='subbar'" onclick="window.location.href='./?id=92'">
                                        Tuyến xe điện số 1
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" onmouseover="this.className='subover'" onmouseout="this.className='subbar'" onclick="window.location.href='./?id=93'">
                                        Tuyến Monorail số 2
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subbar" onmouseover="this.className='subover'" onmouseout="this.className='subbar'" onclick="window.location.href='./?id=94'">
                                        Tuyến Monorail số 3
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>



                    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin-top:5px">
                        <tbody>
                            <tr>
                                <td class="groupbar">LIÊN KẾT WEB</td>
                            </tr>
                            <tr>
                                <form name="frmWeblink" action="" method="get"></form>
                                <td class="cntbar">
                                    <select class="textbox" name="slcWeb" style="width:165px" onchange="javascript:OpenSelect(this)">
                                        <option value=""></option>
                                        <option value="http://www.hochiminhcity.gov.vn">Ủy ban Nhân dân TPHCM</option>
                                        <option value="http://www.sgtvt.hochiminhcity.gov.vn">Sở Giao thông Vận tải TPHCM</option>
                                        <option value="http://donre.hochiminhcity.gov.vn">Sở Tài nguyên - Môi trường TPHCM</option>
                                        <option value="http://constructiondpt.hochiminhcity.gov.vn">Sở Xây dựng TPHCM</option>
                                        <option value="http://tcvg.hochiminhcity.gov.vn">Sở Tài chính TPHCM</option>
                                        <option value="http://dpi.hochiminhcity.gov.vn">Sở Kế hoạch - Đầu tư TPHCM</option>
                                        <option value="http://qhkt.hochiminhcity.gov.vn">Sở Quy hoạch - Kiến trúc TPHCM</option>
                                        <option value="http://www.ict-hcm.gov.vn">Sở Thông tin và Truyền Thông TPHCM</option>
                                    </select>
                                </td>

                                <script language="javascript">
                                    function OpenSelect(slc) {
                                        var url = slc.options[slc.selectedIndex].value;
                                        if (url != "") window.open(url);
                                    }
                                </script>
                            </tr>
                        </tbody>
                    </table>

                </td>
                <td><img src="~/images/top_07.gif" border="0" width="20" height="25"></td>
                <td width="99%">
                    <table class="divTrace" width="100%" border="0" cellpadding="0" cellspacing="0" style="margin-bottom:5px">
                        <tbody>
                            <tr>
                                <td><img src="~/images/top_08.gif" border="0" width="40" height="25"></td>
                                <td width="99%" align="right"></td>
                                <td align="right" nowrap="" style="padding-left:10px"><a href="javascript:PrintContent('divContent')"><img class="pointer" src="~/images/print.gif" border="0" width="16" height="16" align="absmiddle"> In trang</a></td>
                            </tr>
                        </tbody>
                    </table>

                    <div id="divContent">

                        <div class="divContent" style="margin-bottom:10px">
                            <div class="title">Tổng quan</div>
                            <div class="imgBorder" style="margin-top:6px"><img src="~/images/tau_dien.jpg" border="0" width="554"></div>
                            <div style="margin-top:6px">
                                <p style="text-align: justify"><strong>Tổng quan về Ban Quản lý Đường sắt đô thị</strong></p>
                                <p style="text-align: justify">Ban Quản lý Đường sắt đô thị được thành lập theo Quyết định số 119/QĐ-UBND ngày 13/09/2007 của Ủy ban nhân dân thành phố với chức năng, nhiệm vụ là Chủ đầu tư các dự án đường sắt đô thị thành phố. Hiện nay, Ban Quản lý Đường sắt đô thị có 04 phòng và 04 ban với tổng số viên chức, người lao động la 229 người, trong đó: 40 người trình độ sau đại học, 173 người trình độ đại học, 07 người trình độ cao đẳng, trung cấp và 09 người lao động phổ thông tại đơn vị.<o:p></o:p></p>
                            </div>
                            <div id="divMore_12"><p align="right"><a class="morelink" href="javascript:ViewMore(12);">Xem tiếp »</a></p></div>



                        </div>


                        <div class="dotline" style="margin-bottom:20px"></div>




                        <div id="divPostlist">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr valign="top">
                                        <td class="dotline" width="50%">
                                            <div>
                                                <a class="sublink" href="./?id=510">THALES - SÁNG TẠO VÀ ĐỔI MỚI</a>
                                            </div>
                                            <div class="divContent" style="margin-top:6px">
                                            </div>
                                            <div style="text-align:right"><a class="morelink" href="./?id=510">Xem tiếp »</a></div>
                                        </td>
                                        <td><img src="~/images/spacer.gif" border="0" width="20" height="1"></td>
                                        <td class="dotline" width="50%">
                                            <div>
                                                <a class="sublink" href="./?id=509">THẺ THÔNG HÀNH ĐA PHƯƠNG THỨC AUCKLAND</a>
                                            </div>
                                            <div class="divContent" style="margin-top:6px">
                                            </div>
                                            <div style="text-align:right"><a class="morelink" href="./?id=509">Xem tiếp »</a></div>
                                        </td>
                                    </tr>
                                    <tr><td height="10"></td></tr>
                                    <tr valign="top">
                                        <td class="dotline" width="50%">
                                            <div>
                                                <a class="sublink" href="#">KỶ NIỆM 68 NĂM NGÀY THƯƠNG BINH LIỆT SỸ (27/7/1947 - 27/7/2015)</a>
                                            </div>
                                            <div class="divContent" style="margin-top:6px">
                                            </div>
                                            <div style="text-align:right"><a class="morelink" href="#">Xem tiếp »</a></div>
                                        </td>
                                        <td><img src="~/images/spacer.gif" border="0" width="20" height="1"></td>
                                        <td class="dotline" width="50%">
                                            <div>
                                                <a class="sublink" href="#">HỌC TẬP VÀ LÀM THEO TẤM GƯƠNG ĐẠO ĐỨC HỒ CHÍ MINH 2015: " Thanh niên tổ chức học tập và làm theo tấm gương tư tưởng, đạo đức Hồ Chí Minh."</a>
                                            </div>
                                           
                                            <div style="text-align:right"><a class="morelink" href="#">Xem tiếp »</a></div>
                                        </td>
                                    </tr>
                                    <tr><td height="10"></td></tr>
                                    <tr valign="top">
                                        <td class="dotline" width="50%">
                                            <div>
                                                <a class="sublink" href="#">THÀNH PHỐ HỒ CHÍ MINH: SẮP CÓ 2 TUYẾN "BUÝT" ĐƯỜNG THỦY</a>
                                            </div>
                                            <div class="divContent" style="margin-top:6px">
                                            </div>
                                            <div style="text-align:right"><a class="morelink" href="#">Xem tiếp »</a></div>
                                        </td>
                                        <td><img src="~/images/spacer.gif" border="0" width="20" height="1"></td>
                                        <td class="dotline" width="50%">
                                            <div>
                                                <a class="sublink" href="#">BÁO MỸ CA NGỢI SỨC HÚT MÃNH LIỆT CỦA THÀNH PHỐ HỒ CHÍ MINH</a>
                                            </div>
                                            <div class="divContent" style="margin-top:6px">
                                            </div>
                                            <div style="text-align:right"><a class="morelink" href="#">Xem tiếp »</a></div>
                                        </td>
                                    </tr>
                                    <tr><td height="10"></td></tr>
                                    <tr valign="top">
                                        <td class="dotline" width="50%">
                                            <div>
                                                <a class="sublink" href="#">THÀNH PHỐ HỒ CHÍ MINH VÀO TOP 10 THÀNH PHỐ NĂNG ĐỘNG NHẤT THẾ GIỚI</a>
                                            </div>
                                            <div class="divContent" style="margin-top:6px">
                                            </div>
                                            <div style="text-align:right"><a class="morelink" href="./?id=503">Xem tiếp »</a></div>
                                        </td>
                                        <td><img src="~/images/spacer.gif" border="0" width="20" height="1"></td>
                                        <td class="dotline" width="50%">
                                            <div>
                                                <a class="sublink" href="#">ĐẢNG BỘ BAN QUẢN LÝ ĐƯỜNG SẮT ĐÔ THỊ TỔ CHỨC SƠ KẾT TÌNH HÌNH HOẠT ĐỘNG 6 THÁNG ĐẦU NĂM – TRIỂN KHAI PHƯƠNG HƯỚNG NHIỆM VỤ 6 THÁNG CUỐI NĂM 2015</a>
                                            </div>
                                            <div class="divContent" style="margin-top:6px">
                                            </div>
                                            <div style="text-align:right"><a class="morelink" href="#">Xem tiếp »</a></div>
                                        </td>
                                    </tr>
                                    <tr><td height="10"></td></tr>
                                    <tr valign="top">
                                        <td class="dotline" width="50%">
                                            <div>
                                                <a class="sublink" href="#">PHIẾU ĐĂNG KÝ THÔNG BÁO MỜI THẦU LẬP DỰ ÁN ĐẦU TƯ XÂY DỰNG TUYẾN MONORAIL SỐ 2</a>
                                            </div>
                                            <div class="divContent" style="margin-top:6px">
                                            </div>
                                            <div style="text-align:right"><a class="morelink" href="#">Xem tiếp »</a></div>
                                        </td>
                                        <td><img src="~/images/spacer.gif" border="0" width="20" height="1"></td>
                                        <td class="dotline" width="50%">
                                            <div>
                                                <a class="sublink" href="#">PHÓ THỦ TƯỚNG HOÀNG TRUNG HẢI KIỂM TRA TÌNH HÌNH THỰC HIỆN DỰ ÁN TUYẾN ĐƯỜNG SẮT ĐÔ THỊ SỐ 1 BẾN THÀNH - SUỐI TIÊN</a>
                                            </div>
                                            <div class="divContent" style="margin-top:6px">
                                            </div>
                                            <div style="text-align:right"><a class="morelink" href="#">Xem tiếp »</a></div>
                                        </td>
                                    </tr>
                                    <tr><td height="10"></td></tr>
                                </tbody>
                            </table>
                        </div>



                    </div>
                </td>
                <td>
                    <div class="divTrace"><img src="~/images/top_09.gif" border="0" width="20" height="30"></div>
                </td>
                <td>
                    <div class="divTrace" style="margin-bottom:5px"><a href="#" target="_blank"><img src="~/images/top_10.gif" border="0" width="185" height="55"></a></div>

                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td class="groupbar">TIN NỔI BẬT</td>
                            </tr>
                            <tr>
                                <td class="cntbar">
                                    <a href="#"><b>PHIẾU ĐĂNG KÝ THÔNG BÁO MỜI THẦU LẬP DỰ ÁN ĐẦU TƯ XÂY DỰNG TUYẾN MONORAIL SỐ 2</b></a>
                                    <p align="right">
                                        <a class="morelink" href="#">Xem tiếp »</a>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td class="cntbar">
                                    <a href="#"><b>PHÓ THỦ TƯỚNG HOÀNG TRUNG HẢI KIỂM TRA TÌNH HÌNH THỰC HIỆN DỰ ÁN TUYẾN ĐƯỜNG SẮT ĐÔ THỊ SỐ 1 BẾN THÀNH - SUỐI TIÊN</b></a>
                                    <p align="right">
                                        <a class="morelink" href="#">Xem tiếp »</a>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td class="cntbar">
                                    <a href="#"><b>BAN QUẢN LÝ ĐƯỜNG SẮT ĐÔ THỊ THÀNH PHỐ HỒ CHÍ MINH HỌP BÁO PHIÊN THỨ III NĂM 2015</b></a>
                                    <p align="right">
                                        <a class="morelink" href="#">Xem tiếp »</a>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td class="cntbar">
                                    <a href="#"><b>CUỘC THI SÁNG TÁC BIỂU TRƯNG (LOGO) CHO HỆ THỐNG ĐƯỜNG SẮT ĐÔ THỊ THÀNH PHỐ HỒ CHÍ MINH</b></a>
                                    <p align="right">
                                        <a class="morelink" href="#">Xem tiếp »</a>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td class="cntbar">
                                    <a href="#"><b>THÔNG BÁO GIA HẠN THỜI GIAN BÁN HỒ SƠ CHÀO HÀNG DỊCH VỤ QUẢNG CÁO</b></a>
                                    <p align="right">
                                        <a class="morelink" href="#">Xem tiếp »</a>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td class="cntbar">
                                    <a href="#"><b>BAN QUẢN LÝ ĐƯỜNG SẮT ĐÔ THỊ HỌP BÁO PHIÊN  THỨ HAI NĂM 2015</b></a>
                                    <p align="right">
                                        <a class="morelink" href="#">Xem tiếp »</a>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td class="cntbar">
                                    <a href="#"><b>THÔNG TIN PHỤC VỤ GÓP Ý TOA TÀU MẪU CỦA TUYẾN METRO SỐ 1 BẾN THÀNH - SUỐI TIÊN</b></a>
                                    <p align="right">
                                        <a class="morelink" href="#">Xem tiếp »</a>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                </td>
                <td>
                    <div class="divTrace"><img src="~/images/spacer.gif" border="0" width="15" height="55"></div>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="divMain" width="1000" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr><td colspan="2" height="50"></td></tr>
            <tr>
                <td nowrap="" style="padding-left:15px">
                    <a class="botlink" href="./?m=main&amp;f=home">Trang chủ</a>
                    &nbsp;|&nbsp;
                    <a class="botlink" href="./?id=164">Hướng dẫn sử dụng</a>
                    &nbsp;|&nbsp;
                    <a class="botlink" href="./?m=main&amp;f=sitemap">Sitemap</a>
                    &nbsp;|&nbsp;
                    <a class="botlink" href="./?m=calendar&amp;f=calendar">Lịch Công tác</a>
                    &nbsp;|&nbsp;
                    <a class="botlink" href="./?m=contact&amp;f=contact">Liên hệ</a>
                </td>
                <td nowrap="" align="right" style="padding-right:15px"><img src="~/images/bottom_01.gif" border="0" width="240" height="25"></td>
            </tr>
            <tr>
                <td class="divHeader" colspan="2" height="5"></td>
            </tr>
            <tr>
                <td nowrap="" class="divFoot" style="padding-left:15px">
                    <b class="black">BAN QUẢN LÝ ĐƯỜNG SẮT ĐÔ THỊ</b>
                    <br>Địa chỉ: 29 Lê Quý Đôn, phường 7 quận 3, Tp.Hồ Chí Minh
                    <br>Telephone: (08)3930.9495 - (08)3930.9496 - Fax: (08)3930.9497 - (08)3930.9498
                    - Email: <a href="#">bqldsdt@tphcm.gov.vn </a>
                </td>
                <td align="right" nowrap="" class="divFoot" style="padding-right:15px">Quyết định số 105/QĐ-STTTT, ngày 19/6/2014 do Sở TT-TT TPHCM cấp<br>Ghi rõ nguồn "www.maur-hcmc.vn"; "www.dsdttphcm.vn" khi bạn phát hành lại thông tin từ website này<br>Copyright © 2010 MAUR. All rights reserved.</td>
            </tr>
            <tr height="30px">
                <td class="copyright" style="padding-left:15px">Designed and Developed by <a href="#" target="_blank">KIM NGUU CO.,Ltd</a></td>
                <td class="copyright" align="right" style="padding-right:15px">Hiện có <b>2</b> người online. Lượt truy cập: <b>3048584</b></td>
            </tr>
        </tbody>
    </table>
</center>
