@{
    ViewData["Title"] = "Đường sắt đô thị TPHCM";
}

<div class="divContent" style="margin-bottom:10px">
    <div class="title">Tổng quan</div>
    <div class="imgBorder" style="margin-top:6px"><img src="~/images/tau_dien.jpg" border="0" width="554"></div>
    <div style="margin-top:6px">
        <p style="text-align: justify"><strong>Tổng quan về Ban Quản lý Đường sắt đô thị</strong></p>
        <p style="text-align: justify">Ban Quản lý Đường sắt đô thị được thành lập theo Quyết định số 119/QĐ-UBND ngày 13/09/2007 của Ủy ban nhân dân thành phố với chức năng, nhiệm vụ là Chủ đầu tư các dự án đường sắt đô thị thành phố. Hiện nay, Ban Quản lý Đường sắt đô thị có 04 phòng và 04 ban với tổng số viên chức, người lao động la 229 người, trong đó: 40 người trình độ sau đại học, 173 người trình độ đại học, 07 người trình độ cao đẳng, trung cấp và 09 người lao động phổ thông tại đơn vị.<o:p></o:p></p>
    </div>


</div>


<div class="dotline" style="margin-bottom:20px"></div>




<div id="divPostlist">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr valign="top">
                <td class="dotline" width="50%">
                    <div>
                        <a class="sublink" href="/details/Sang_tao_doi_moi">THALES - SÁNG TẠO VÀ ĐỔI MỚI</a>
                    </div>
                    <div class="divContent" style="margin-top:6px">
                    </div>
                    <div style="text-align:right"><a class="morelink" href="/details/Sang_tao_doi_moi">Xem tiếp »</a></div>
                </td>
                <td><img src="~/images/spacer.gif" border="0" width="20" height="1"></td>
                <td class="dotline" width="50%">
                    <div>
                        <a class="sublink" href="/details/The_thong_hanh">THẺ THÔNG HÀNH ĐA PHƯƠNG THỨC AUCKLAND</a>
                    </div>
                    <div class="divContent" style="margin-top:6px">
                    </div>
                    <div style="text-align:right"><a class="morelink" href="/details/The_thong_hanh">Xem tiếp »</a></div>
                </td>
            </tr>
            <tr><td height="10"></td></tr>
            <tr valign="top">
                <td class="dotline" width="50%">
                    <div>
                        <a class="sublink" href="/details/Ky_niem_68_nam">KỶ NIỆM 68 NĂM NGÀY THƯƠNG BINH LIỆT SỸ (27/7/1947 - 27/7/2015)</a>
                    </div>
                    <div class="divContent" style="margin-top:6px">
                    </div>
                    <div style="text-align:right"><a class="morelink" href="/details/Ky_niem_68_nam">Xem tiếp »</a></div>
                </td>
                <td><img src="~/images/spacer.gif" border="0" width="20" height="1"></td>
                <td class="dotline" width="50%">
                    <div>
                        <a class="sublink" href="/details/page1">HỌC TẬP VÀ LÀM THEO TẤM GƯƠNG ĐẠO ĐỨC HỒ CHÍ MINH 2015: " Thanh niên tổ chức học tập và làm theo tấm gương tư tưởng, đạo đức Hồ Chí Minh."</a>
                    </div>

                    <div style="text-align:right"><a class="morelink" href="/details/page1">Xem tiếp »</a></div>
                </td>
            </tr>
            <tr><td height="10"></td></tr>
            <tr valign="top">
                <td class="dotline" width="50%">
                    <div>
                        <a class="sublink" href="#">THÀNH PHỐ HỒ CHÍ MINH: SẮP CÓ 2 TUYẾN "BUÝT" ĐƯỜNG THỦY</a>
                    </div>
                    <div class="divContent" style="margin-top:6px">
                    </div>
                    <div style="text-align:right"><a class="morelink" href="#">Xem tiếp »</a></div>
                </td>
                <td><img src="~/images/spacer.gif" border="0" width="20" height="1"></td>
                <td class="dotline" width="50%">
                    <div>
                        <a class="sublink" href="#">BÁO MỸ CA NGỢI SỨC HÚT MÃNH LIỆT CỦA THÀNH PHỐ HỒ CHÍ MINH</a>
                    </div>
                    <div class="divContent" style="margin-top:6px">
                    </div>
                    <div style="text-align:right"><a class="morelink" href="#">Xem tiếp »</a></div>
                </td>
            </tr>
            <tr><td height="10"></td></tr>
            <tr valign="top">
                <td class="dotline" width="50%">
                    <div>
                        <a class="sublink" href="#">THÀNH PHỐ HỒ CHÍ MINH VÀO TOP 10 THÀNH PHỐ NĂNG ĐỘNG NHẤT THẾ GIỚI</a>
                    </div>
                    <div class="divContent" style="margin-top:6px">
                    </div>
                    <div style="text-align:right"><a class="morelink" href="./?id=503">Xem tiếp »</a></div>
                </td>
                <td><img src="~/images/spacer.gif" border="0" width="20" height="1"></td>
                <td class="dotline" width="50%">
                    <div>
                        <a class="sublink" href="#">ĐẢNG BỘ BAN QUẢN LÝ ĐƯỜNG SẮT ĐÔ THỊ TỔ CHỨC SƠ KẾT TÌNH HÌNH HOẠT ĐỘNG 6 THÁNG ĐẦU NĂM – TRIỂN KHAI PHƯƠNG HƯỚNG NHIỆM VỤ 6 THÁNG CUỐI NĂM 2015</a>
                    </div>
                    <div class="divContent" style="margin-top:6px">
                    </div>
                    <div style="text-align:right"><a class="morelink" href="#">Xem tiếp »</a></div>
                </td>
            </tr>
            <tr><td height="10"></td></tr>
            <tr valign="top">
                <td class="dotline" width="50%">
                    <div>
                        <a class="sublink" href="/details/Thong_bao_moi_thau">PHIẾU ĐĂNG KÝ THÔNG BÁO MỜI THẦU LẬP DỰ ÁN ĐẦU TƯ XÂY DỰNG TUYẾN MONORAIL SỐ 2</a>
                    </div>
                    <div class="divContent" style="margin-top:6px">
                    </div>
                    <div style="text-align:right"><a class="morelink" href="/details/Thong_bao_moi_thau">Xem tiếp »</a></div>
                </td>
                <td><img src="~/images/spacer.gif" border="0" width="20" height="1"></td>
                <td class="dotline" width="50%">
                    <div>
                        <a class="sublink" href="details/Pho_thu_tuong_hoang_trung_hai">PHÓ THỦ TƯỚNG HOÀNG TRUNG HẢI KIỂM TRA TÌNH HÌNH THỰC HIỆN DỰ ÁN TUYẾN ĐƯỜNG SẮT ĐÔ THỊ SỐ 1 BẾN THÀNH - SUỐI TIÊN</a>
                    </div>
                    <div class="divContent" style="margin-top:6px">
                    </div>
                    <div style="text-align:right"><a class="morelink" href="details/Pho_thu_tuong_hoang_trung_hai">Xem tiếp »</a></div>
                </td>
            </tr>
            <tr><td height="10"></td></tr>
        </tbody>
    </table>
</div>
