@{
    ViewData["Title"] = "HỌC TẬP VÀ LÀM THEO TẤM GƯƠNG ĐẠO ĐỨC HỒ CHÍ MINH 2015";
}

<div id="divContent">

    <div class="divContent" style="margin-bottom:10px">
        <div class="title">HỌC TẬP VÀ LÀM THEO TẤM GƯƠNG ĐẠO ĐỨC HỒ CHÍ MINH 2015: " Thanh niên tổ chức học tập và làm theo tấm gương tư tưởng, đạo đức Hồ Chí Minh."</div>
        <div style="margin-top:6px">
            <div class="imgBorder" style="width:175; margin:0px 0px 10px 10px; float:right; text-align:center"><img class="imgGrey" src="/web/20150813022331im_/http://dsdttphcm.vn/stores/ad6.jpg" border="0" width="175"><span class="grey"></span></div>
            <p>&nbsp;Sinh thời, Chủ tịch Hồ Chí Minh đã dâng hiến trọn cuộc đời mình cho dân, cho nước, vì độc lập dân tộc, vì tự do và hạnh phúc cho nhân dân.&nbsp;</p>
        </div>
        <div>
            <p>&nbsp;Đến trước lúc đi vào cõi vĩnh hằng Người còn để lại những dặn dò hết sức cụ thể cho toàn Đảng, toàn dân, toàn quân, cho mỗi con người Việt Nam, đặc biệt là thế hệ thanh niên, lực lượng quyết định cho sự hưng thịnh của quốc gia dân tộc trong hiện tại cũng như trong tương lai: “Đoàn viên và thanh niên ta nói chung là tốt, mọi việc đều hăng hái xung phong, không ngại khó khăn, có chí tiến thủ. Đảng cần phải chăm lo giáo dục đạo đức cách mạng cho họ, đào tạo họ thành những người thừa kế xây dựng chủ nghĩa xã hội vừa "hồng" vừa "chuyên". Bồi dưỡng thế hệ cách mạng cho đời sau là việc rất quan trọng và cấp thiết.”</p>
            <p>Ngay từ tháng 01/1946, trong thư gửi thanh niên và nhi đồng toàn quốc, Chủ tịch Hồ Chí Minh đã viết: "Một năm khởi đầu từ mùa xuân. Một đời khởi đầu từ tuổi trẻ. Tuổi trẻ là mùa xuân của xã hội". Là một lãnh tụ vĩ đại, có tầm nhìn xa trông rộng, hơn ai hết, Người thấu hiểu vai trò vô cùng to lớn của lực lượng thanh niên trong sự nghiệp cách mạng, trong công cuộc bảo vệ, xây dựng, kiến thiết nước nhà.</p>
            <div>Muốn thế hệ trẻ của chúng ta trở thành những người kế thừa xây dựng Chủ nghĩa xã hội vừa “hồng” vừa “chuyên”, thì công tác giáo dục phải tiến hành một cách toàn diện như lời Người dạy: “Trong việc giáo dục và học tập phải chú trọng đủ các mặt: đạo đức cách mạng, giác ngộ xã hội chủ nghĩa, văn hoá, kinh tế, lao động và sản xuất”.</div>
            <div>Không những vậy, Trong bài nói chuyện tại buổi lễ khai giảng Đại học nhân dân Việt Nam, Người còn căn dặn thanh niên chúng ta: "Nhiệm vụ của thanh niên không phải là hỏi nước nhà đã cho mình những gì. Mà phải tự hỏi mình đã làm gì cho nước nhà! Mình phải làm thế nào cho ích nước lợi nhà nhiều hơn? Mình đã vì lợi ích nước nhà mà hy sinh phấn đấu chừng nào”.</div>
            <div>Chủ tịch Hồ Chí Minh luôn tin tưởng ở thanh niên và khơi dậy những đức tính tốt đẹp, những khả năng tiềm ẩn “Đào núi và lấp biển” của thanh niên. Bác từng dạy thanh niên:</div>
            <div>“Không có việc gì khó</div>
            <div>Chỉ sợ lòng không bền</div>
            <div>Đào núi là lấp biển</div>
            <div>Quyết chí ắt làm nên!” &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</div>
            <div>Ngày nay thanh niên đang sống trong một thế giới có nhiều biến động, một thế giới ngày càng gần nhau hơn và xuất hiện nhiều cám giỗ thì việc tự trang bị cho mình kiến thức về những hiểu biết đúng đắn về chủ nghĩa xã hội và tư tưởng Hồ Chí Minh là hết sức cần thiết.&nbsp;</div>
            <div>Mỗi đoàn viên thanh niên Ban Quản lý Đường sắt đô thị phải không ngừng nâng cao nhận thức, trách nhiệm để hoàn thành tốt mọi nhiệm vụ đư¬ợc giao. Nghiêm chỉnh chấp hành các Chỉ thị, Nghị quyết của Đảng và nội quy của Cơ quan Trong thực hiện công tác luôn hiểu đúng và thực hiện đúng nhiệm vụ được giao và cần có nhiều ý kiến và đề xuất cho Lãnh đạo để công việc ngày càng thuận lợi và hiệu quả.</div>
            <div>Như Chúng ta đều biết, công tác xây dựng hệ thống metro hiện đại cho người dân của thành phố là một nhiệm vụ cực kỳ khó khăn, đòi hỏi năng lực và trình độ, tính kiên trì và nổ lực hết mình của các cá nhân tham gia. Do đó mỗi Đoàn viên thanh niên phải tích cực nâng cao trình độ, tự trao dồi kiến thức để có kiến thức cơ bản, có khả năng tác nghiệp, khẳng định được bản thân mình và cống hiến cho sự nghiệp xây dựng và quản lý điều hành hệ thống đường sắt đô thị. Cụ thể, Đoàn viên thanh niên Chi Đoàn 9 thường xuyên cập nhật các quy định pháp luật mới liên quan về đầu tư và xây dựng, quản lý dự án trong nước và dự án ODA. Đồng thời nghiên cứu áp dụng cụ thể trong công tác chuyên môn nghiệp vụ được giao. Đoàn viên thanh niên Chi đoàn 9 cũng chủ động tham gia các hội nghị hội thảo và chuyên đề liên quan đến nhiệm vụ chuyên môn tổ chức tại cơ quan hoặc các đơn vị ngoài để nâng cao trình độ và kinh nghiệm.</div>
            <div>Ngoài ra, Đoàn viên thanh niên Ban Quản lý Đường sắt đô thị phải có gắng thể hiện tính xung kích, không ngại khó khăn và bền chí quyết tâm thực hiện các nhiệm vụ được giao như lời Người đã dạy. Công việc của Ban luôn luôn gặp phải những khó khăn, những thách thức, nếu Đoàn viên thanh niên không giữ vững lòng tin vào sự lãnh đạo của Chi bộ, của cấp trên, không có niềm tin mãnh liệt vào sự thành công của các dự án Đường sắt đô thị thì Ban Quản lý Đường sắt đô thị không thể vượt qua các khó khăn, thử thách để hoàn thành nhiệm vụ chính trị được giao và hoàn thành ước mong của mỗi người dân trong thành phố mang tên Người. Đoàn viên thanh niên Chi đoàn 9 đã cố gắng hoàn thành tốt các nhiệm vụ được Ban Giám đốc phân công, đưa ra các ý kiến, sáng kiến góp phần cùng Ban Giám đốc giải quyết các khó khăn thử thách xảy ra trong quá trình thực hiện dự án.</div>
            <div>&nbsp;</div>
        </div>



    </div>








    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin-top:10px">
        <tbody>
            <tr>
                <td>
                    <div style="margin-bottom:6px"><b>Thông tin liên quan</b></div>
                    <div class="divOther">
                        <a class="otherlink" href="./?id=388">HỌC TẬP VÀ LÀM THEO TẤM GƯƠNG ĐẠO ĐỨC HỒ CHÍ MINH 2014</a> <span class="other">29/09/2014</span>
                    </div>
                    <div class="divOther">
                        <a class="otherlink" href="./?id=386">BÀI DIỄN VĂN CỦA Đ/C LÊ KHẮC HUỲNH – BÍ THƯ ĐẢNG ỦY TẠI LỄ KỶ NIỆM 69 NĂM CÁCH MẠNG THÁNG 8 VÀ QUỐC KHÁNH 2/9 (1945 – 2014)</a> <span class="other">29/08/2014</span>
                    </div>
                    <div class="divOther">
                        <a class="otherlink" href="./?id=376">HỌC TẬP VÀ LÀM THEO TẤM GƯƠNG ĐẠO ĐỨC HỒ CHÍ MINH</a> <span class="other">03/07/2014</span>
                    </div>
                    <div class="divOther">
                        <a class="otherlink" href="./?id=367">HỌC TẬP VÀ LÀM THEO TẤM GƯƠNG ĐẠO ĐỨC HỒ CHÍ MINH</a> <span class="other">17/04/2014</span>
                    </div>
                    <div class="divOther">
                        <a class="otherlink" href="./?id=361">HỌC TẬP VÀ LÀM THEO TẤM GƯƠNG ĐẠO ĐỨC HỒ CHÍ MINH</a> <span class="other">20/01/2014</span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>