@{
    ViewData["Title"] = "PHÓ THỦ TƯỚNG HOÀNG TRUNG HẢI KIỂM TRA TÌNH HÌNH THỰC HIỆN DỰ ÁN TUYẾN ĐƯỜNG SẮT ĐÔ THỊ SỐ 1 BẾN THÀNH - SUỐI TIÊN";
}
<h1>@ViewData["Title"]</h1>

<div class="divContent" style="margin-bottom:10px">
    
    <div>
        <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph;
text-indent:.5in">Ngày 16 tháng 7 năm 2015, Phó Thủ tướng Hoàng Trung Hải đã chủ trì thị sát hiện trường dự án đường sắt đô thị số 1 (Bến Thành - Suối Tiên) và chủ trì cuộc họp đánh giá tình hình thực hiện các dự án đường sắt Thành phố Hồ Chí Minh. Tham dự cuộc họp có Phó Chủ tịch Ủy ban nhân dân Thành phố Nguyễn Hữu Tín; đại diện lãnh đạo các Bộ: Kế hoạch và Đầu tư, Tài chính, Giao thông vận tải, Xây dựng, Tài nguyên và Môi trường, Văn phòng Chính phủ; lãnh đạo các Sở và Ban Quản lý đường sắt đô thị thành phố.</p>
        <p style="text-align: center;">&nbsp;<img src="~/images/Pho thu tuong HTH 1.jpg" width="640" height="425" alt=""></p>
        <p style="text-align: center;"><img src="~/images//Pho%20thu%20tuong%20HTH%202.jpg" width="640" height="425" alt=""></p>
        <p style="text-align: center;">Trưởng Ban Ban Quản lý Đường sắt đô thị Bùi Xuân Cường báo cáo tình hình thực hiện gói thầu 1b tại ga nhà hát thành phố.</p>
        <div style="text-align:justify;text-justify:inter-ideograph;
text-indent:.5in">
            Phó Thủ tướng đã đến kiểm tra thực địa tuyến 1: Gói thầu 1a (dài 515m), được đánh giá là phức tạp nhất với đoạn ngầm từ nhà ga Bến Thành đến Nhà hát thành phố; Gói 1b (dài 1.315m) với đoạn ngầm từ Nhà hát thành phố đến ga Ba Son; Đi dọc tuyến và dừng kiểm tra tại một số hạng mục chính của gói thầu số 2; và tham quan mô hình mẫu đầu máy toa xe…&nbsp;
        </div>
        <p style="text-align: center;"><img src="~/images/Pho%20thu%20tuong%20HTH%203.jpg" width="640" height="425" alt=""></p>
        <p style="text-align: center;">Nghe thuyết minh về phương án thi công nhà ga Ba Son thuộc gói thầu số 1b.</p>
        <div style="text-align:justify;text-justify:inter-ideograph;
text-indent:.5in">
            Về tình hình thực hiện các dự án, Phó Thủ tướng đánh giá Ủy ban nhân dân Thành phố Hồ Chí Minh đã có nhiều cố gắng trong việc triển khai các dự án đường sắt đô thị. Mặc dù có nhiều khó khăn trong việc thu xếp vốn, triển khai thủ tục đầu tư, giải phóng mặt bằng… nhưng Thành phố đã tập trung chỉ đạo triển khai quyết liệt. Đến nay, các dự án đang được triển khai theo kế hoạch. Đặc biệt là tuyến số 1 đã hình thành cơ bản được quy mô, hình hài của một trong những dự&nbsp;án đường sắt đô thị&nbsp;đầu tiên của đất nước - giải pháp giao thông hiện đại, có tính chiến lược. Phó Thủ tướng đã đề nghị Ủy ban nhân dân Thành phố tiếp tục chỉ&nbsp;đạo Ban quản lý dự án, các nhà thầu đôn đốc, khẩn trương trong thi công theo đúng kế hoạch, an toàn; chuẩn bị công tác đào tạo, chuẩn bị lực lượng vận hành, bảo dưỡng.
        </div>
        <p style="text-align: center;"><img src="~/images/Pho%20thu%20tuong%20HTH%204.jpg" width="640" height="425" alt=""></p>
        <p style="text-align: center;"><img src="~/images/Pho%20thu%20tuong%20HTH%205.jpg" width="640" height="425" alt=""></p>
        <p style="text-align: center;">Phó Thủ Tướng Chính phủ và Lãnh đạo thành phố nghe liên doanh SCC báo cáo tại bãi đúc dầm - Depot Long Bình quận 9.</p>
        <p style="text-align: center;"><img src="~/images/Pho%20thu%20tuong%20HTH%206.jpg" width="640" height="425" alt=""></p>
        <p style="text-align: center;">
            Kiểm tra thi công tại vị trí lao dầm vd17 phường Thảo Điền quận 2. <br>
            Đoạn thi công trên cao thuộc gói thầu số 2&nbsp;tuyến Bến Thành - Suối Tiên.
        </p>
        <div style="text-align:justify;text-justify:inter-ideograph;
text-indent:.5in">
            Ngoài ra, đối với các dự án đường sắt đô thị còn lại, Phó Thủ tướng đã có ý kiến chỉ đạo về các khó khăn, vướng mắc về đấu thầu, thẩm tra thiết kế, giải phóng mặt bằng, công tác giải ngân…
        </div>
        <div style="text-align:justify;text-justify:inter-ideograph;
text-indent:.5in">
            <b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</b>
        </div>
        <div style="text-align:justify;text-justify:inter-ideograph;
text-indent:.5in">
            <b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Bùi Anh Huấn.</b>
        </div>
        <p style="text-align: justify;">&nbsp;</p>
        <p style="text-align: center;">&nbsp;</p>
    </div>



</div>