@{
    ViewData["Title"] = "BAN QUẢN LÝ ĐƯỜNG SẮT ĐÔ THỊ HỌP BÁO PHIÊN THỨ HAI NĂM 2015";
}
<h1>@ViewData["Title"]</h1>

<div id="divContent">

    <div class="divContent" style="margin-bottom:10px">
        <div style="margin-top:6px">
            <p style="text-align: justify;"><a id="fck_paste_padding"><span style="font-size: medium;">&#xFEFF; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></a><span style="font-size: medium;"><span style="text-align: justify; text-indent: 0.5in;">Ngày 20 tháng 4 năm 2015, Ban Quản lý Đường sắt đô thị đã tổ chức họp báo phiên thứ II năm 2015 dưới sự chủ trì của ông Bùi Xuân Cường – Trưởng ban Ban Quản lý Đường sắt đô thị. Nội dung họp báo tập trung thông tin về tình hình thực hiện dự án đầu tư các tuyến đường sắt đô thị (metro) số 1, 2 và 5.</span></span></p>
        </div>
        <div>
            <p style="text-align: center;"><span style="font-size: medium;">&nbsp;<img src="~/images/hopbaophienthu21.jpg" width="640" height="425" alt=""> </span></p>
            <p style="text-align: center;">Thông qua thông cáo báo chí.</p>
            <p style="text-align: justify;"><span style="font-size: medium;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<span style="text-align: justify; text-indent: 0.5in;">Về tuyến metro số 1, công tác giải phóng mặt bằng đã hoàn tất và có mặt bằng sạch để thi công. Công tác triển khai các gói thầu 1a “Xây dựng đoạn ngầm từ Nhà ga Bến Thành đến ga Nhà hát thành phố”, gói thầu 1b “Xây dựng đoạn ngầm từ Nhà hát thành phố đến ga Ba Son” được tích cực triển khai thi công theo kế hoạch, đặc biệt được theo dõi sát sao qua công tác quan trắc tại các vị trí xung yếu. Gói thầu số 2 “Xây dựng đoạn trên cao và depot” đã thi công được khối lượng tổng thể đạt khoảng 30% (trong đó khối lượng thiết tổng thể đạt 95%). Đặc biệt, Ban đã tiến hành đúc dầm đốt đầu tiên từ ngày 06 tháng 4 năm 2015. Gói thầu số 3 “Mua sắm thiết bị cơ điện, đầu máy toa xe, đường ray và bảo dưỡng” tiếp tục được triển khai thiết kế kỹ thuật song song với việc lấy ý kiến Sở ban ngành, chuyên gia, nhà khoa học và nhân dân về hình dáng và màu sắc đoàn tàu (đến nay đã có hơn 1.500 lượt tham quan và 1.250 lượt ý kiến góp ý). Tính đến nay, Ban đã thực hiện được hơn 06 triệu giờ công lao động an toàn trên công trường.</span>  </span></p>
            <p class="MsoNormal" style="text-align: justify; text-indent: 0.5in;"><span style="font-size: medium;">Về tuyến metro số 2, công tác tham vấn cộng đồng về thiết kế điều chỉnh và ranh các nhà ga đã được Ban Quản lý Đường sắt đô thị , Tư vấn và Ủy ban nhân dân các quận tích cực triển khai. Đến nay, Ủy ban nhân dân Thành phố đã thông qua thiết kế ý tưởng 09/09 nhà ga ngầm và hoàn tất việc bàn giao hồ sơ ranh của các nhà ga cho các Quận. Công tác đấu chọn thầu các gói thầu chính được tiếp tục thực hiện theo kế hoạch. </span></p>
            <p class="MsoNormal" style="text-align: justify; text-indent: 0.5in;"><span style="font-size: medium;">Về tuyến metro số 5, đến nay giai đoạn 1 của dự án (Ngã tư Bảy Hiền – cầu Sài Gòn) đã được thu xếp đủ nguồn vốn đầu tư sau khi các Nhà tài trợ thẩm trả vào tháng 11 năm 2014 là 1.563 triệu Euro (tương đương 41.615 tỷ đồng).</span></p>
            <p class="MsoNormal" style="text-align: center;"><span style="font-size: medium;"><span lang="FR" style="line-height: 115%; font-family: Cambria, serif;">&nbsp;<img src="~/images/hopbaophienthu22.jpg" width="640" height="425" alt=""></span></span></p>
            <p class="MsoNormal" style="text-align: center;">
                <span style="font-size: small;"><span lang="FR" style="line-height: 115%;">Trưởng Ban Bùi Xuân Cường chủ trì họp báo.</span></span><span lang="FR" style="font-size:11.0pt;line-height:115%;mso-bidi-font-family:&quot;Times New Roman&quot;;
mso-ansi-language:FR"><o:p></o:p></span>
            </p>
            <p class="MsoNormal" style="text-align: justify; text-indent: 0.5in;">
                <span style="font-size: medium;"><span lang="FR">Tại cuộc họp báo, Ban Quản lý Đường sắt đô thị cũng khẳng định trong quá trình triển khai thực hiện dự án các tuyến đường sắt đô thị theo Quy hoạch được duyệt, Ban cũng đã tính toán, nghiên cứu kỹ để đảm bảo tính kết nối giữa các tuyến đường sắt đô thị với nhau (dù đặc thù công nghệ của các tuyến có sự khác biệt do phải tuân thủ theo quy định của các nhà tài trợ).</span></span><br>
                <span style="font-size: medium;"><span style="line-height: 115%; text-align: center;">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></span><img src="~/images/hopbaophienthu23.jpg" width="640" height="425" alt="">
            </p>
            <p class="MsoNormal" style="text-align: center;"><span style="font-size: small;"><span style="line-height: 115%;">Toàn cảnh buổi hop báo</span></span><span style="font-size:11.0pt;line-height:115%"><o:p></o:p></span></p>
            <p class="MsoNormal" style="text-align: justify; text-indent: 0.5in;"><span style="font-size: medium;">Bên cạnh đó, công tác tham vấn cộng đồng về ranh mốc và thiết kế dự án, và giải quyết các khiếu nại của người dân bị ảnh hưởng trong quá trình thi công được tuân thủ theo quy trình chặt chẽ. Cụ thể, đối với công tác tham vấn cộng đồng về ranh mốc và thiết kế, Ban đã làm việc với các Tư vấn lấy ý kiến phản biện của Liên hiệp các Hội khoa học kỹ thuật Thành phố (Hội Cầu – Đường – Cảng), sau đó làm việc với các chính quyền địa phương trước ra lấy ý kiến góp ý của nhân dân. Đối với việc giải quyết các khiếu nại của người dân bị ảnh hưởng trong quá trình thi công, Ban đã cùng với các nhà thầu, tư vấn bảo hiểm khảo sát nhà các hộ dân trong phạm vi ảnh hưởng trước khi thi công. Trong quá trình khi công, khi xảy ra sự cố, các bên đã phối hợp để làm việc nhằm giải quyết thỏa đáng các vấn đề phát sinh. Ngoài việc mua bảo hiểm theo quy định, Ban cũng đã yêu cầu các nhà thầu thi công mua bảo hiểm các rủi ro liên quan (tối đa lên đến 5 tỷ đồng cho các sự cố lún nút).</span></p>
            <p class="MsoNormal" style="text-align: center; text-indent: 0.5in;"><img src="~/images/hopbaophienthu24.jpg" width="640" height="425" alt=""></p>
            <p class="MsoNormal" style="text-align: center;"><span style="font-size: small;"><span style="line-height: 115%;">Phóng viên báo đài phỏng vấn.</span></span><span style="font-size:11.0pt;line-height:115%"><o:p></o:p></span></p>
            <p class="MsoNormal" style="text-align: center;"><span style="font-size: small;"><span style="line-height: 115%;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img src="~/images/hopbaophienthu25.jpg" width="640" height="425" alt="">&nbsp;</span></span></p>
            <p class="MsoNormal" style="text-align: center;"><span style="font-size: small;"><span style="line-height: 115%;">Trả lời phỏng vấn của đơn vị liên quan.</span></span><span style="font-size:11.0pt;line-height:115%"><o:p></o:p></span></p>
            <p style="text-align: justify;"><span style="font-size:13.0pt;line-height:115%;Times New Roman&quot;,&quot;serif&quot;;color:#363636;">&nbsp; &nbsp; &nbsp; &nbsp;Kết thúc buổi họp báo, Lãnh đạo Ban Quản lý Đường sắt đô thị bày tỏ sự cảm ơn các cơ quan báo đài, thông tấn báo chí đã tích cực quan tâm, hỗ trợ và tuyên truyền thông tin của các dự án và hy vọng rằng trong thời gian tới, Ban tiếp tục nhận được sự hỗ trợ của các phương tiện thông tin đại chúng trong việc truyền tải thông tin để dự án tạo được sự đồng thuận cao từ cộng đồng./.&nbsp;</span></p>
        </div>



    </div>








    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin-top:10px">
        <tbody>
            <tr>
                <td>
                    <div style="margin-bottom:6px"><b>Thông tin liên quan</b></div>
                    <div class="divOther">
                        <a class="otherlink" href="./?id=520">Phải công khai minh bạch các dự án BOT</a> <span class="other">07/08/2015</span>
                    </div>
                    <div class="divOther">
                        <a class="otherlink" href="./?id=519">Khai thác đường sắt Cát Linh - Hà Đông từ năm 2016</a> <span class="other">07/08/2015</span>
                    </div>
                    <div class="divOther">
                        <a class="otherlink" href="./?id=518">Bộ trưởng Thăng tiếp lãnh đạo Tập đoàn Parsons</a> <span class="other">05/08/2015</span>
                    </div>
                    <div class="divOther">
                        <a class="otherlink" href="./?id=517">Quy hoạch đường sắt phải ưu tiên những việc dễ, ít tiền làm trước	</a> <span class="other">05/08/2015</span>
                    </div>
                    <div class="divOther">
                        <a class="otherlink" href="./?id=515"> Công nghệ lắp dầm hẫng lần đầu áp dụng tại Việt Nam</a> <span class="other">05/08/2015</span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>