@{
    ViewData["Title"] = "THALES - SÁNG TẠO VÀ ĐỔI MỚI";
}
<h1>@ViewData["Title"]</h1>
<div class="divContent" style="margin-bottom:10px">
    <div>
        <p>&nbsp;<b><span style="font-size: 13pt;">Thales đã và đang nâng chất lượng cuộc sống cho những cư dân đô thị bằng xây dựng những “thành phố thông minh”.</span></b></p>
        <p style="text-align: center;"><b><span style="font-size: 13pt;"><img src="~/images/thales - sangtaovadoimoi 1.jpeg" width="511" height="343" alt=""></span></b></p>
        <table class="MsoNormalTable" border="0" cellpadding="0">
            <tbody>
                <tr>
                    <td style="padding:0in 0in 0in 0in">
                        <p class="MsoNormal" align="center" style="margin-bottom:0in;margin-bottom:.0001pt;
            text-align:center;line-height:11.25pt">
                            <span style="font-size:10.0pt;
            mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
            color:#145072;mso-bidi-font-style:normal">Hẹ</span><span style="font-size:
            10.0pt;font-family:&quot;Cambria Math&quot;,&quot;serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
            mso-bidi-font-family:&quot;Times New Roman&quot;;color:#145072;mso-bidi-font-style:
            normal">̂</span><span style="font-size:10.0pt;mso-fareast-font-family:&quot;Times New Roman&quot;;
            mso-bidi-font-family:&quot;Times New Roman&quot;;color:#145072;mso-bidi-font-style:
            normal"> tho</span><span style="font-size:10.0pt;font-family:&quot;Cambria Math&quot;,&quot;serif&quot;;
            mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
            color:#145072;mso-bidi-font-style:normal">̂</span><span style="font-size:
            10.0pt;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
            color:#145072;mso-bidi-font-style:normal">́ng đie</span><span style="font-size:10.0pt;font-family:&quot;Cambria Math&quot;,&quot;serif&quot;;mso-fareast-font-family:
            &quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#145072;
            mso-bidi-font-style:normal">̂</span><span style="font-size:10.0pt;mso-fareast-font-family:
            &quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#145072;
            mso-bidi-font-style:normal">̀u khie</span><span style="font-size:10.0pt;
            font-family:&quot;Cambria Math&quot;,&quot;serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
            mso-bidi-font-family:&quot;Times New Roman&quot;;color:#145072;mso-bidi-font-style:
            normal">̂</span><span style="font-size:10.0pt;mso-fareast-font-family:&quot;Times New Roman&quot;;
            mso-bidi-font-family:&quot;Times New Roman&quot;;color:#145072;mso-bidi-font-style:
            normal">̉n giao tho</span><span style="font-size:10.0pt;font-family:&quot;Cambria Math&quot;,&quot;serif&quot;;
            mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
            color:#145072;mso-bidi-font-style:normal">̂</span><span style="font-size:
            10.0pt;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
            color:#145072;mso-bidi-font-style:normal">ng do Thales trie</span><span style="font-size:10.0pt;font-family:&quot;Cambria Math&quot;,&quot;serif&quot;;mso-fareast-font-family:
            &quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#145072;
            mso-bidi-font-style:normal">̂</span><span style="font-size:10.0pt;mso-fareast-font-family:
            &quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#145072;
            mso-bidi-font-style:normal">̉n khai đã giúp khuye</span><span style="font-size:10.0pt;font-family:&quot;Cambria Math&quot;,&quot;serif&quot;;mso-fareast-font-family:
            &quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#145072;
            mso-bidi-font-style:normal">̂</span><span style="font-size:10.0pt;mso-fareast-font-family:
            &quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#145072;
            mso-bidi-font-style:normal">́n khích to</span><span style="font-size:10.0pt;
            font-family:&quot;Cambria Math&quot;,&quot;serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
            mso-bidi-font-family:&quot;Times New Roman&quot;;color:#145072;mso-bidi-font-style:
            normal">̂</span><span style="font-size:10.0pt;mso-fareast-font-family:&quot;Times New Roman&quot;;
            mso-bidi-font-family:&quot;Times New Roman&quot;;color:#145072;mso-bidi-font-style:
            normal">́i đa viẹ</span><span style="font-size:10.0pt;font-family:&quot;Cambria Math&quot;,&quot;serif&quot;;
            mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
            color:#145072;mso-bidi-font-style:normal">̂</span><span style="font-size:
            10.0pt;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
            color:#145072;mso-bidi-font-style:normal">c su</span><span style="font-size:
            10.0pt;font-family:&quot;Cambria Math&quot;,&quot;serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
            mso-bidi-font-family:&quot;Times New Roman&quot;;color:#145072;mso-bidi-font-style:
            normal">̛</span><span style="font-size:10.0pt;mso-fareast-font-family:&quot;Times New Roman&quot;;
            mso-bidi-font-family:&quot;Times New Roman&quot;;color:#145072;mso-bidi-font-style:
            normal">̉ dụng các phu</span><span style="font-size:10.0pt;font-family:
            &quot;Cambria Math&quot;,&quot;serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:
            &quot;Times New Roman&quot;;color:#145072;mso-bidi-font-style:normal">̛</span><span style="font-size:10.0pt;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:
            &quot;Times New Roman&quot;;color:#145072;mso-bidi-font-style:normal">o</span><span style="font-size:10.0pt;font-family:&quot;Cambria Math&quot;,&quot;serif&quot;;mso-fareast-font-family:
            &quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#145072;
            mso-bidi-font-style:normal">̛</span><span style="font-size:10.0pt;mso-fareast-font-family:
            &quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#145072;
            mso-bidi-font-style:normal">ng tiẹ</span><span style="font-size:10.0pt;
            font-family:&quot;Cambria Math&quot;,&quot;serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
            mso-bidi-font-family:&quot;Times New Roman&quot;;color:#145072;mso-bidi-font-style:
            normal">̂</span><span style="font-size:10.0pt;mso-fareast-font-family:&quot;Times New Roman&quot;;
            mso-bidi-font-family:&quot;Times New Roman&quot;;color:#145072;mso-bidi-font-style:
            normal">n giao tho</span><span style="font-size:10.0pt;font-family:&quot;Cambria Math&quot;,&quot;serif&quot;;
            mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
            color:#145072;mso-bidi-font-style:normal">̂</span><span style="font-size:
            10.0pt;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
            color:#145072;mso-bidi-font-style:normal">ng co</span><span style="font-size:
            10.0pt;font-family:&quot;Cambria Math&quot;,&quot;serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
            mso-bidi-font-family:&quot;Times New Roman&quot;;color:#145072;mso-bidi-font-style:
            normal">̂</span><span style="font-size:10.0pt;mso-fareast-font-family:&quot;Times New Roman&quot;;
            mso-bidi-font-family:&quot;Times New Roman&quot;;color:#145072;mso-bidi-font-style:
            normal">ng cọ</span><span style="font-size:10.0pt;font-family:&quot;Cambria Math&quot;,&quot;serif&quot;;
            mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
            color:#145072;mso-bidi-font-style:normal">̂</span><span style="font-size:
            10.0pt;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
            color:#145072;mso-bidi-font-style:normal">ng<o:p></o:p></span>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="MsoNormal" style="text-align: justify; text-indent: 0.5in; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size: 13pt;">Một nửa dân số thế giới đang sống tại các thị trấn và thành phố. Với kinh nghiệm và những công nghệ hàng đầu của mình, Thales đã và đang mang tới sự tiện nghi, nâng chất lượng cuộc sống cho những cư dân đô thị bằng cách chung tay xây dựng những “thành phố thông minh”.<o:p></o:p></span></p>
        <p class="MsoNormal" style="text-align: justify; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><b><span style="font-size: 13pt;">Những thách thức đặt ra cho các chính quyền thành phố và giải pháp của Thales</span></b><span style="font-size: 13pt;"><o:p></o:p></span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 0.5in; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size: 13pt;">Theo dự báo của UN, dân số thế giới sẽ đạt tới 9 tỷ người vào năm 2050 và 70% số đó sẽ là các cư dân thành thị. Mật độ dân số tại thành thị cao như vậy đặt ra nhiều thách thức với chính quyền địa phương, trong đó những vấn đề liên quan đến ô nhiễm không khí, ùn tắc giao thông và an ninh. Và Thales với tên tuổi của mình cùng với sự đổi mới, các giải pháp phát triển và kinh nghiệm đã được kiểm chứng - đảm bảo cho việc giải quyết thành công những mối lo này.<o:p></o:p></span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 0.5in; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size: 13pt;">Với sự am hiểu sâu sắc, kinh nghiệm thực tiễn và những công nghệ hàng đầu, Thales có đầy đủ khả năng để “gỡ khó” cho chính quyền các thành phố, đặc biệt là những vấn đề liên quan đến giao thông thông minh và an ninh thành phố.<o:p></o:p></span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 0.5in; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size: 13pt;">“Các giải pháp giao thông thông minh của Thales được thiết kế nhằm làm cho hệ thống GTVT nhanh chóng hơn, tối ưu hóa năng lực và hiệu quả mạng lưới, tạo điều kiện thuận lợi cho giao thông trong khi cải thiện các luồng phương tiện, tiết kiệm năng lượng và cắt giảm khí thải nhà kính. Còn giải pháp an ninh bao gồm các lĩnh vực như bảo vệ người dân, chống khủng bố, bảo vệ cơ sở hạ tầng quan trọng và hệ thống thông tin” .<o:p></o:p></span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 0.5in; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size: 13pt;">Thales hiện đang cung cấp cho khách hàng một loạt giải pháp cho các thành phố thông minh cả lớn và nhỏ.</span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 0.5in; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><img src="~/images/thales - sangtaovadoimoi 1.jpeg" width="600" height="400" alt=""></p>
        <table class="MsoNormalTable" border="0" cellpadding="0" style="background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            <tbody>
                <tr>
                    <td style="padding: 0in;">
                        <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: 11.25pt; text-align: right;"><span style="font-size: 10pt; color: rgb(20, 80, 114);">Các giải pháp giao tho</span><span style="font-size: 10pt; font-family: 'Cambria Math', serif; color: rgb(20, 80, 114);">̂</span><span style="font-size: 10pt; color: rgb(20, 80, 114);">ng tho</span><span style="font-size: 10pt; font-family: 'Cambria Math', serif; color: rgb(20, 80, 114);">̂</span><span style="font-size: 10pt; color: rgb(20, 80, 114);">ng minh của Thales đu</span><span style="font-size: 10pt; font-family: 'Cambria Math', serif; color: rgb(20, 80, 114);">̛</span><span style="font-size: 10pt; color: rgb(20, 80, 114);">o</span><span style="font-size: 10pt; font-family: 'Cambria Math', serif; color: rgb(20, 80, 114);">̛</span><span style="font-size: 10pt; color: rgb(20, 80, 114);">̣c thie</span><span style="font-size: 10pt; font-family: 'Cambria Math', serif; color: rgb(20, 80, 114);">̂</span><span style="font-size: 10pt; color: rgb(20, 80, 114);">́t ke</span><span style="font-size: 10pt; font-family: 'Cambria Math', serif; color: rgb(20, 80, 114);">̂</span><span style="font-size: 10pt; color: rgb(20, 80, 114);">́ nha</span><span style="font-size: 10pt; font-family: 'Cambria Math', serif; color: rgb(20, 80, 114);">̆</span><span style="font-size: 10pt; color: rgb(20, 80, 114);">̀m làm cho hẹ</span><span style="font-size: 10pt; font-family: 'Cambria Math', serif; color: rgb(20, 80, 114);">̂</span><span style="font-size: 10pt; color: rgb(20, 80, 114);">&nbsp;tho</span><span style="font-size: 10pt; font-family: 'Cambria Math', serif; color: rgb(20, 80, 114);">̂</span><span style="font-size: 10pt; color: rgb(20, 80, 114);">́ng GTVT nhanh chóng ho</span><span style="font-size: 10pt; font-family: 'Cambria Math', serif; color: rgb(20, 80, 114);">̛</span><span style="font-size: 10pt; color: rgb(20, 80, 114);">n</span></p>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <p class="MsoNormal" style="text-align: justify; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><b><span style="font-size: 13pt;">Mexico và hệ thống an ninh đô thị lớn nhất thế giới</span></b><span style="font-size: 13pt;"><o:p></o:p></span></p>
            <p class="MsoNormal" style="text-align: justify; text-indent: 0.5in; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size: 13pt;">Tại thành phố Mexico, một siêu đô thị với 22 triệu người, Thales và nhà điều hành viễn thông Telmex đã triển khai một giải pháp bao gồm hơn 15.000 máy quay video, cảm biến tiếng súng, camera nhận diện biển số tự động, máy bay không người lái giám sát trên không và các điểm gọi điện khẩn cấp ngay trên các con phố.<o:p></o:p></span></p>
            <p class="MsoNormal" style="text-align: justify; text-indent: 0.5in; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size: 13pt;">Tất cả các phân hệ này được điều hành bởi 5 trung tâm chỉ huy và điều khiển địa phương, được giám sát bởi một trung tâm C4I toàn thành phố (chỉ huy, điều khiển,thông tin liên lạc, các máy tính và tin tức tình báo). Siêu hệ thống này phát đi các báo động cho cảnh sát đội cứu hỏa và dịch vụ cấp cứu bất cứ khi nào có các sự việc bất thường hoặc có các hành vi bị phát hiện. Trong trường hợp đặc biệt khẩn cấp, cảnh sát cũng có thể triển khai 2 trung tâm chiến thuật linh hoạt C2 liên tục duy trì liên lạc với trung tâm C4I.<o:p></o:p></span></p>
            <p class="MsoNormal" style="text-align: justify; text-indent: 0.5in; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size: 13pt;">Được xây dựng xung quanh việc sử dụng một cách thông minh dữ liệu và sự phối hợp liên ngành, các giải pháp được thực hiện bởi Thales tăng đáng kể sự an toàn của người dân thành phố Mexico, rút ngắn thời gian phản ứng trung bình còn 1/3. Tội phạm tại tàu điện ngầm giảm 80%, trong khi các vụ trộm cắp xe giảm gần 10% và các hoạt động phạm pháp trong một số khu vực bị bỏ hoang trước đây mà hiện nay đang phát triển mạnh giảm 35%.<o:p></o:p></span></p>
            <p class="MsoNormal" style="text-align: justify; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><b><span style="font-size: 13pt;">Strasbourg tối ưu hóa GTVT và quản lý các sự kiện lớn</span></b><span style="font-size: 13pt;"><o:p></o:p></span></p>
            <p class="MsoNormal" style="text-align: justify; text-indent: 0.5in; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size: 13pt;">Thales đã triển khai giải pháp “thành phố thông minh” trên quy mô nhỏ hơn tại Strasbourg (Pháp). Đây là một minh họa cho xu hướng ngày càng phát triển của các dự án quản lý đô thị tích hợp. Đặc biệt, Thales kết hợp việc điều khiển giao thông đô thị vào chương trình giám sát đô thị bằng hình ảnh. Cùng với sự hỗ trợ của thành phố trong việc khai thác hệ thống thông tin hành khách; hệ thống điều khiển giao thông do Thales triển khai tại Strasbourg đã giúp điều chỉnh lưu lượng xe cộ, làm hài hòa các phương tiện giao thông, khuyến khích tối đa việc sử dụng các phương tiện giao thông công cộng.<o:p></o:p></span></p>
            <p class="MsoNormal" style="text-align: justify; text-indent: 0.5in; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size: 13pt;">Các hệ thống điều khiển và thông tin giao thông tự động cũng được mở rộng để quản lý các khu vực dành cho người đi bộ và giám sát các khu vực đỗ xe. Quyết định kết hợp các trung tâm giám sát bằng hình ảnh và các trung tâm điều khiển giao thông đã giúp tạo nên sự phối hợp nhịp nhàng hơn, đồng thời vẫn tôn trọng được quyền hạn của từng trung tâm.<o:p></o:p></span></p>
            <p class="MsoNormal" align="right" style="text-align: right; text-indent: 0.5in; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
                <span style="font-size: 13pt;">
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Trích nguồn báo giao thông<br>
                    Ngân Anh<o:p></o:p>
                </span>
            </p>
        </div>
    </div>



</div>