@{
    ViewData["Title"] = "THẺ THÔNG HÀNH ĐA PHƯƠNG THỨC AUCKLAND";
}
<h1>@ViewData["Title"]</h1>

<div class="divContent" style="margin-bottom:10px">
    
    <div>
        <p>&nbsp;<b><span style="font-size: 13pt; font-family: Arial, sans-serif;">Hành khách vẫn thực hiện các chuyến đi bằng tàu hỏa, xe buýt và phà chỉ với một vé duy nhất.</span></b></p>
        <table class="MsoNormalTable" border="0" cellpadding="0" style="background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            <tbody>
                <tr>
                    <td colspan="3" style="padding:0in 0in 0in 0in">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3" style="padding:0in 0in 0in 0in">
                        <p class="MsoNormal" align="center" style="margin-bottom:0in;margin-bottom:.0001pt;
            text-align:center;line-height:11.25pt"><img src="~/images/thethonghanhdaphuongthuccho.jpeg" width="604" height="404" alt=""></p>
                        <p class="MsoNormal" align="center" style="margin-bottom:0in;margin-bottom:.0001pt;
            text-align:center;line-height:11.25pt">
                            <span style="font-size:10.0pt;
            mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
            color:#145072;mso-bidi-font-style:normal">Thẻ tho</span><span style="font-size:10.0pt;font-family:&quot;Cambria Math&quot;,&quot;serif&quot;;mso-fareast-font-family:
            &quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#145072;
            mso-bidi-font-style:normal">̂</span><span style="font-size:10.0pt;mso-fareast-font-family:
            &quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#145072;
            mso-bidi-font-style:normal">ng hành đa phu</span><span style="font-size:
            10.0pt;font-family:&quot;Cambria Math&quot;,&quot;serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
            mso-bidi-font-family:&quot;Times New Roman&quot;;color:#145072;mso-bidi-font-style:
            normal">̛</span><span style="font-size:10.0pt;mso-fareast-font-family:&quot;Times New Roman&quot;;
            mso-bidi-font-family:&quot;Times New Roman&quot;;color:#145072;mso-bidi-font-style:
            normal">o</span><span style="font-size:10.0pt;font-family:&quot;Cambria Math&quot;,&quot;serif&quot;;
            mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
            color:#145072;mso-bidi-font-style:normal">̛</span><span style="font-size:
            10.0pt;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
            color:#145072;mso-bidi-font-style:normal">ng thu</span><span style="font-size:10.0pt;font-family:&quot;Cambria Math&quot;,&quot;serif&quot;;mso-fareast-font-family:
            &quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#145072;
            mso-bidi-font-style:normal">̛</span><span style="font-size:10.0pt;mso-fareast-font-family:
            &quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#145072;
            mso-bidi-font-style:normal">́c đu</span><span style="font-size:10.0pt;
            font-family:&quot;Cambria Math&quot;,&quot;serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
            mso-bidi-font-family:&quot;Times New Roman&quot;;color:#145072;mso-bidi-font-style:
            normal">̛</span><span style="font-size:10.0pt;mso-fareast-font-family:&quot;Times New Roman&quot;;
            mso-bidi-font-family:&quot;Times New Roman&quot;;color:#145072;mso-bidi-font-style:
            normal">o</span><span style="font-size:10.0pt;font-family:&quot;Cambria Math&quot;,&quot;serif&quot;;
            mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
            color:#145072;mso-bidi-font-style:normal">̛</span><span style="font-size:
            10.0pt;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
            color:#145072;mso-bidi-font-style:normal">̣c cung ca</span><span style="font-size:10.0pt;font-family:&quot;Cambria Math&quot;,&quot;serif&quot;;mso-fareast-font-family:
            &quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#145072;
            mso-bidi-font-style:normal">̂</span><span style="font-size:10.0pt;mso-fareast-font-family:
            &quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#145072;
            mso-bidi-font-style:normal">́p bo</span><span style="font-size:10.0pt;
            font-family:&quot;Cambria Math&quot;,&quot;serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
            mso-bidi-font-family:&quot;Times New Roman&quot;;color:#145072;mso-bidi-font-style:
            normal">̛</span><span style="font-size:10.0pt;mso-fareast-font-family:&quot;Times New Roman&quot;;
            mso-bidi-font-family:&quot;Times New Roman&quot;;color:#145072;mso-bidi-font-style:
            normal">̉i Thales mang đe</span><span style="font-size:10.0pt;font-family:
            &quot;Cambria Math&quot;,&quot;serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:
            &quot;Times New Roman&quot;;color:#145072;mso-bidi-font-style:normal">̂</span><span style="font-size:10.0pt;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:
            &quot;Times New Roman&quot;;color:#145072;mso-bidi-font-style:normal">́n ra</span><span style="font-size:10.0pt;font-family:&quot;Cambria Math&quot;,&quot;serif&quot;;mso-fareast-font-family:
            &quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#145072;
            mso-bidi-font-style:normal">̂</span><span style="font-size:10.0pt;mso-fareast-font-family:
            &quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#145072;
            mso-bidi-font-style:normal">́t nhie</span><span style="font-size:10.0pt;
            font-family:&quot;Cambria Math&quot;,&quot;serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
            mso-bidi-font-family:&quot;Times New Roman&quot;;color:#145072;mso-bidi-font-style:
            normal">̂</span><span style="font-size:10.0pt;mso-fareast-font-family:&quot;Times New Roman&quot;;
            mso-bidi-font-family:&quot;Times New Roman&quot;;color:#145072;mso-bidi-font-style:
            normal">̀u tiẹ</span><span style="font-size:10.0pt;font-family:&quot;Cambria Math&quot;,&quot;serif&quot;;
            mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
            color:#145072;mso-bidi-font-style:normal">̂</span><span style="font-size:
            10.0pt;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
            color:#145072;mso-bidi-font-style:normal">n ích cho ngu</span><span style="font-size:10.0pt;font-family:&quot;Cambria Math&quot;,&quot;serif&quot;;mso-fareast-font-family:
            &quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#145072;
            mso-bidi-font-style:normal">̛</span><span style="font-size:10.0pt;mso-fareast-font-family:
            &quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#145072;
            mso-bidi-font-style:normal">o</span><span style="font-size:10.0pt;font-family:
            &quot;Cambria Math&quot;,&quot;serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:
            &quot;Times New Roman&quot;;color:#145072;mso-bidi-font-style:normal">̛</span><span style="font-size:10.0pt;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:
            &quot;Times New Roman&quot;;color:#145072;mso-bidi-font-style:normal">̀i da</span><span style="font-size:10.0pt;font-family:&quot;Cambria Math&quot;,&quot;serif&quot;;mso-fareast-font-family:
            &quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#145072;
            mso-bidi-font-style:normal">̂</span><span style="font-size:10.0pt;mso-fareast-font-family:
            &quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#145072;
            mso-bidi-font-style:normal">n Auckland&nbsp;<o:p></o:p></span>
                        </p>
                        <p class="MsoNormal" style="text-align: justify; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size: 13pt;">Được khánh thành   cho sự kiện Rugby World cup 2011, thẻ thông hành đa phương thức được cung cấp   bởi Thales giúp người dân Auckland và những người khách đến thăm Thủ đô của   New Zealand đi lại trong suốt sự kiện một cách dễ dàng hơn.<o:p></o:p></span></p>
                        <p class="MsoNormal" style="text-align: justify; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size: 13pt;">Tới tận thời điểm   hiện tại, hành khách vẫn đang tiếp tục được hưởng các lợi ích từ loại thẻ   thông hành này, thực hiện các chuyến đi bằng tàu hỏa, xe buýt và phà chỉ với   một vé duy nhất. Tại Auckland, ngoài việc sở hữu thẻ thông hành đa phương   thức, hành khách cũng có thể sử dụng thẻ thông hành có thể nạp lại như một   chiếc ví điện tử. Các nhà chức trách địa phương đang xem xét kế hoạch mở rộng   các chương trình bao gồm việc thay cho vé vào các di tích công cộng và viện   bảo tàng.<o:p></o:p></span></p>
                        <p class="MsoNormal" style="text-align: justify; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size: 13pt;">Các chính quyền   thành phố sử dụng dữ liệu thu được thông qua các hệ thống GTVT để phân tích   số liệu các chuyến đi từ đó họ có thể đáp ứng các nhu cầu giao thông vào giờ   và giai đoạn cao điểm. “Hệ thống thông tin đang ngày càng trở nên liên kết   với nhau, mở ra cơ hội để phát triển các dịch vụ mới.Ví dụ, một hành khách có   thể tìm cách nhanh nhất để đến nhà ga bằng cách kết hợp các phương thức khác   nhau của giao thông công cộng và cá nhân, phụ thuộc vào điều kiện giao thông   và sở thích của mỗi người”.<o:p></o:p></span></p>
                        <p class="MsoNormal" style="text-align: justify; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size: 13pt;">Hơn nữa, tại các   thành phố này Thales cũng đã cung cấp hệ thống bán vé đa phương thức, đa điều   hành tại các thành phố lớn như Toronto và Oslo cũng như các hệ thống trên   toàn quốc tại Hà Lan và Đan Mạch.<o:p></o:p></span></p>
                    </td>
                </tr>
                <tr>
                    <td style="background:#EEEEEE;padding:.75pt .75pt .75pt .75pt">
                        <p class="MsoNormal" style="margin:5.0pt;text-align:justify;mso-line-height-alt:
            11.25pt"><span style="font-size: 13pt;">Hệ   thống giám sát Hypervisor của Thales là một công nghệ then chốt, hỗ trợ khái   niệm thành phố thông minh bằng cách phối hợp các hệ thống thông tin đô thị   riêng biệt. Hệ thống tuyệt vời này còn cho phép kết nối các hệ thống và các   phân hệ nhằm chia sẻ các dữ liệu cần thiết để tối ưu hóa các ứng dụng cá nhân   khi có nhu cầu.<o:p></o:p></span></p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Trích nguồn báo giao thông.</p>
        <p>&nbsp;</p>
    </div>



</div>







    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin-top:10px">
        <tbody>
            <tr>
                <td>
                    <div style="margin-bottom:6px"><b>Thông tin liên quan</b></div>
                    <div class="divOther">
                        <a class="otherlink" href="./?id=388">HỌC TẬP VÀ LÀM THEO TẤM GƯƠNG ĐẠO ĐỨC HỒ CHÍ MINH 2014</a> <span class="other">29/09/2014</span>
                    </div>
                    <div class="divOther">
                        <a class="otherlink" href="./?id=386">BÀI DIỄN VĂN CỦA Đ/C LÊ KHẮC HUỲNH – BÍ THƯ ĐẢNG ỦY TẠI LỄ KỶ NIỆM 69 NĂM CÁCH MẠNG THÁNG 8 VÀ QUỐC KHÁNH 2/9 (1945 – 2014)</a> <span class="other">29/08/2014</span>
                    </div>
                    <div class="divOther">
                        <a class="otherlink" href="./?id=376">HỌC TẬP VÀ LÀM THEO TẤM GƯƠNG ĐẠO ĐỨC HỒ CHÍ MINH</a> <span class="other">03/07/2014</span>
                    </div>
                    <div class="divOther">
                        <a class="otherlink" href="./?id=367">HỌC TẬP VÀ LÀM THEO TẤM GƯƠNG ĐẠO ĐỨC HỒ CHÍ MINH</a> <span class="other">17/04/2014</span>
                    </div>
                    <div class="divOther">
                        <a class="otherlink" href="./?id=361">HỌC TẬP VÀ LÀM THEO TẤM GƯƠNG ĐẠO ĐỨC HỒ CHÍ MINH</a> <span class="other">20/01/2014</span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>