@{
    ViewData["Title"] = "PHIẾU ĐĂNG KÝ THÔNG BÁO MỜI THẦU LẬP DỰ ÁN ĐẦU TƯ XÂY DỰNG TUYẾN MONORAIL SỐ 2";
}
<h1>@ViewData["Title"]</h1>

<div class="divContent" style="margin-bottom:10px">
    <div><p>&nbsp;<img src="~/images/Monorail%202-Phieu%20dag%20ky%20thong%20bao%20moi%20thau_001.jpg" width="591" height="681" alt=""></p></div>



</div>